.clients-logo{
    display: table;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 767px) {
        display: flex;
        margin: -30px auto 0;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
    }
    .client-logo-img{
        display: inline-table;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 19.5%;
        vertical-align: middle;
        @media (max-width: 991px) and (min-width: 768px) {
            width:24%;
            min-height: 74px;
         }
         @media (max-width: 767px) {
            display: inline-flex;
            width: auto;
            min-width: 120px;
            height: 73px;
            margin: 0 5px 10px 0;
        }
    }
}