<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termin_Mail_V4</title>
    <style>
        @media (max-width: 767px) {
        .order-details-description-m{
            width: 100% !important;
            margin-bottom: 0px;
        }
        .product-description li{
            display: inline-block !important;
            margin-left: 2px;
        }
        .product-description li img, small{
            display: none;
        }
        .order-details-description-m p{
            margin-bottom: 30px !important;
        }
        .order-product-small-brief{
            border-top:none !important;
        }
        .order-logo{
            max-width: 142px;
            margin: 0 auto;
        }
        .footer-address{
            width:auto !important;
        }
        }
    </style>
</head>
<body style="font-family:arial,sans-serif; font-weight:normal;  margin:0 auto;">
    <div class="order-email" style="max-width:600px; margin:0 auto; padding: 30px 0px;">
        <div class="inner-email-section" style="padding: 0 20px;">
        <div class="order-logo" style="text-align: center; margin-bottom: 34.6px;">
            <img src="../../assets/images/email-logo.svg" alt="Logo" style="max-width:100%;">
        </div>
        <div class="order-confirm-message" style="margin-bottom: 40px; color: #777777; font-size: 14px; line-height: 22px;">
            <p>Sehr geehrte Frau Karin Bruckner,<br/> <br/>
            vielen Dank für Ihre Terminvereinbarung. Juwelier Wagner freut sich über Ihr Interesse an edlen Juwelen und exklusiven Uhren. Wir werden uns in Kürze bei Ihnen melden.</p>
        </div>
        <div style="font-size:14px; margin-bottom:30px;">
            <p><b>Zusammenfassung Ihrer Termin Vereinbarung:</b></p>
        </div>
        <div class="order-details-description">
            <div class="order-details-description-m" style="display: inline-block; width:47%; margin-right: 20px;vertical-align:top;">
                <h6 style="font-size:15px; line-height:17px; color:#333; border-bottom:1px solid #eaeaea; margin:0 auto; padding-bottom: 10px; "><strong>Terminwunsch</strong></h6>
                <div><img src="../../assets/images/clock.svg" style="float:left; width:12px; height:12px; margin-right: 3px; margin-top: 4px;"><p style="font-size:14px; margin-left: 13px; line-height:22px; color:#333; margin-top:10px; margin-bottom:30px;">15.07.2021 - 10:15 Uhr <br> <a href="#" style="color: #977D2E; font-size: 14px; text-decoration: none;">Kalendereintrag speichern</a></p></div>
                <div><img src="../../assets/images/email-map-icon.svg" style="float:left; width:10px; height:14px; margin-right: 3px; margin-top: 4px;"><p style="font-size:14px; margin-left:15px; line-height:22px; color:#333; margin-top:10px;"> Graben 21 / Tuchlauben 2 <br> 1010 Wien</a></p></div>
            </div>
            <div class="order-details-description-m" style="display: inline-block; width:48.5%; vertical-align:top;">
                <h6 style="font-size:15px; line-height:17px; color:#333; border-bottom:1px solid #eaeaea; margin:0 auto; padding-bottom: 10px; "><strong>Kontaktdaten</strong></h6>
                <p style="font-size:14px; line-height:22px; color:#333; margin-top:10px; display: inline-block; vertical-align: middle;">Frau Karin Bruckner <br> +43 123 234 345 45</p>
            </div>
        </div>
        <div class="order-product-small-brief" style="border-top: 1px solid #e0e0e0; padding: 15px 0 30px;">
            <h5 style="font-size:14px; line-height:16px; font-style: italic; color: #333; margin:0;">Ihre Anmerkungen</h5>
            <p style="font-size:14px; line-height:20px; color: #777777; padding-bottom: 0px; margin:5px auto 58px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At.</p>
            <p style="font-size:14px; line-height:20px; color: #777777; margin-bottom: 0;">Mit freundlichen Grüßen, <br> Ihr Wagner-Team</p>
        </div>
        </div>
        <div class="order-footer" style="text-align: center; margin-top: 30px; border-top: 1px solid #e0e0e0;">
            <div class="order-logo" style="text-align: center; margin-bottom: 18px; margin-top:30px">
                <img src="../../assets/images/email-logo.svg" alt="Logo" style="max-width:100%;">
            </div>
            <div class="footer-address" style="text-align: justify; padding: 0 30px; width:336px; margin: 0 auto;">
            <p style="font-size:13px; line-height:23px; color:#777; margin-bottom: 10px; margin-top:0;"><strong style="font-size:14px; line-height:16px; color:#777;"> Juwelier Wagner </strong> | Kärntner Straße 32, 1010 Wien</p>
            <p style="font-size:13px; line-height:23px; color:#777; margin-bottom: 10px; margin-top:0;"><strong style="font-size:14px; line-height:16px; color:#777;"> Juwelier Wagner </strong> | Graben 21/Tuchlauben 2, 1010 Wien</p>
            <p style="font-size:13px; line-height:23px; color:#777; margin-bottom: 10px; margin-top:0;"><strong style="font-size:14px; line-height:16px; color:#777;"> Rolex Boutique </strong>  | Tuchlauben 2, 1010 Wien</p>
            <p style="font-size:13px; line-height:23px; color:#777; margin-bottom: 10px; margin-top:0;"><strong style="font-size:14px; line-height:16px; color:#777;"> Hublot Boutique </strong> | Kohlmarkt 10, 1010 Wien</p>
            </div>
            <span style="display: block; font-size:13px; line-height:23px; color:#777; margin-bottom: 30px; margin-top:30px;">Mo. bis Fr. 10:00 – 18:30 Uhr, Sa. 10:00 – 18:00</span>
            <a href="tel:+43 1 512 0 512" style="font-size:13px; line-height:23px; color:#777; text-decoration: none; margin-bottom: 10px; margin-top:0; display: block;"> +43 1 512 0 512</a>
            <a href="mailto:info@juwelier-wagner.at" style="font-size:13px; line-height:23px; color:#777; text-decoration: none; margin-bottom: 10px; margin-top:0; display: block;"> info@juwelier-wagner.at</a>
            <a href="www.juwelier-wagner.at" style="font-size:13px; line-height:23px; color:#777; text-decoration: none; margin-bottom: 10px; margin-top:0; display: block;"> www.juwelier-wagner.at</a>
            <div class="footer-social-links">
                <a href="#"><img src="../../assets/images/blog-fb-icon.svg" alt="fb-icon" style="margin-right: 15px; height: 15px; width: 15px;"></a>
                <a href="#"><img src="../../assets/images/insta-icon.svg" alt="insta-icon" style="height: 15px; width: 15px;"></a>
            </div>
            <span style="font-size:11px; line-height:32px; color:#757575; margin-bottom: 0px; margin-top:0; display: block;">Juwelier Wagner Gesellschaft m.b.H., Kärntner Straße, 1010 Wien</span>
        </div>
    </div>
</body>
</html>