<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wagner_Mailnl</title>
    <style>
        @media (max-width: 767px) {
        .order-logo{
            max-width: 142px;
            margin: 0 auto;
        }
        .footer-address{
            width:auto !important;
        }
        }
    </style>
</head>
<body style="margin:0 auto;">
    <div class="order-email" style="font-family:arial,sans-serif; font-weight: normal; max-width:600px; margin:0 auto; padding: 30px 0px;">
        <div class="inner-email-section" style="padding: 0 20px;">
        <div class="order-logo" style="text-align: center; margin-bottom: 41px;">
            <img src="../../assets/images/email-logo.svg" alt="Logo" style="max-width:100%;">
        </div>
        <div class="newsletter-confirm-message" style="padding-bottom: 40px; color: #777777; font-size: 14px; line-height: 22px;">
            <p>Sehr geehrter Herr Tobias Oberhammer, <br>
            Vielen Dank für Ihre Newsletter Anmeldung. Juwelier Wagner freut sich über Ihr Interesse an edlen Juwelen und exklusiven Uhren. Gerne informieren wir Sie künftig über die Neuigkeiten der Wagner Juwelen Collectionen sowie über die bei uns erhältlichen internationalen Marken. <br><br>
            <b style="color: #333;">Bitte bestätigen Sie Ihre Anmeldung mit einem Klick auf folgenden Link:</b> <br> <span style="color: #977D2E;"> Newsletter Anmeldung </span></p>
            <p style="font-size: 12px; font-style: italic; line-height: 16px;">Wenn Sie mit dem obigen Link Schwierigkeiten haben, geben Sie die folgende URL mit Hilfe der Funktion Kopieren/Einfügen in Ihren Browser ein: [URL]</p>
            <p style="margin-top: 20px;">Mit freundlichen Grüßen, <br> Ihr Wagner-Team</p>
        </div>
        </div>
        <div class="order-footer" style="text-align: center; margin-top: 30px; border-top: 1px solid #e0e0e0;">
            <div class="order-logo" style="text-align: center; margin-bottom: 18px; margin-top:30px">
                <img src="../../assets/images/email-logo.svg" alt="Logo" style="max-width:100%;">
            </div>
            <div class="footer-address" style="text-align: justify; padding: 0 30px; width:336px; margin: 0 auto;">
            <p style="font-size:13px; line-height:23px; color:#777; margin-bottom: 10px; margin-top:0;"><strong style="font-size:14px; line-height:16px; color:#777;"> Juwelier Wagner </strong> | Kärntner Straße 32, 1010 Wien</p>
            <p style="font-size:13px; line-height:23px; color:#777; margin-bottom: 10px; margin-top:0;"><strong style="font-size:14px; line-height:16px; color:#777;"> Juwelier Wagner </strong> | Graben 21/Tuchlauben 2, 1010 Wien</p>
            <p style="font-size:13px; line-height:23px; color:#777; margin-bottom: 10px; margin-top:0;"><strong style="font-size:14px; line-height:16px; color:#777;"> Rolex Boutique </strong>  | Tuchlauben 2, 1010 Wien</p>
            <p style="font-size:13px; line-height:23px; color:#777; margin-bottom: 10px; margin-top:0;"><strong style="font-size:14px; line-height:16px; color:#777;"> Hublot Boutique </strong> | Kohlmarkt 10, 1010 Wien</p>
            </div>
            <span style="display: block; font-size:13px; line-height:23px; color:#777; margin-bottom: 30px; margin-top:30px;">Mo. bis Fr. 10:00 – 18:30 Uhr, Sa. 10:00 – 18:00</span>
            <a href="tel:+43 1 512 0 512" style="font-size:13px; line-height:23px; color:#777; text-decoration: none; margin-bottom: 10px; margin-top:0; display: block;"> +43 1 512 0 512</a>
            <a href="mailto:info@juwelier-wagner.at" style="font-size:13px; line-height:23px; color:#777; text-decoration: none; margin-bottom: 10px; margin-top:0; display: block;"> info@juwelier-wagner.at</a>
            <a href="www.juwelier-wagner.at" style="font-size:13px; line-height:23px; color:#777; text-decoration: none; margin-bottom: 10px; margin-top:0; display: block;"> www.juwelier-wagner.at</a>
            <div class="footer-social-links">
                <a href="#"><img src="../../assets/images/blog-fb-icon.svg" alt="fb-icon" style="margin-right: 15px; height: 15px; width: 15px;"></a>
                <a href="#"><img src="../../assets/images/insta-icon.svg" alt="insta-icon" style="height: 15px; width: 15px;"></a>
            </div>
            <span style="font-size:11px; line-height:32px; color:#757575; margin-bottom: 0px; margin-top:0; display: block;">Juwelier Wagner Gesellschaft m.b.H., Kärntner Straße, 1010 Wien</span>
        </div>
    </div>
</body>
</html>