<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Article Overview</title>
</head>
<body>
  
  <div class="article-overview-section">
  <div class="jewellery-article-section secondary-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 float-lg-left">
          <div class="jewellery-article-text article-padding-left ">
            <span class="strong-text">Wagner Jewellery</span>
            <h1 class="display-text1 position-relative">Solitaire</h1>
            <p class="lead-text">Der Diamant ist der schönste, härteste und begehrteste Edelstein. Er ist strahlender Mittelpunkt der Wagner Juwelen Design Collection Solitaire: ein harmonisches Zusammenspiel aus der inneren Strahlkraft des Diamanten mit stilechtem, generationsübergreifendem Wagner.</p>
            <a href="#" class="primary-ghosted-btn">zur Collection</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 float-lg-right">
          <div class="jewellery-article-img article-padding-img-right position-relative ">
            <img src="../assets/images/wagner-jewellery-banner-img.png" alt="wagner-jewellery-banner-img">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jewellery-article-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 float-lg-right">
          <div class="jewellery-article-text article-padding-right">
            <span class="strong-text">Wagner Jewellery</span>
            <h2 class="display-text1 position-relative">Aura</h2>
            <p class="lead-text">Die zarte Juwelen-Collection versprüht ein jugendliches Charisma und spiegelt damit eine vergnügte Leichtigkeit wider. Das anziehende Funkeln des Diamanten wird getragen von 18 Karat Rosé-oder Weißgold.</p>
            <a href="#" class="primary-ghosted-btn">zur Collection</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 float-lg-left">
          <div class="jewellery-article-img article-padding-img-left position-relative ">
            <img src="../assets/images/wagner-jewellery-banner-img2.png" alt="wagner-jewellery-banner-img">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<!-- JS Global Compulsory (Do not remove)-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>