<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Banner Slider</title>
</head>
<body>
  <!-- home-banner-slider -->
  <div class="home-banner">
    <div class="container scroller">
    <div class="banner-slider">
      <div class="banner-m position-relative">
        <div class="banner-img position-relative">
          <img src="../assets/images/banner-image.png" alt="">
        </div>
            <div class="banner-content position-absolute">
              <span class="color-white">Wagner Jewellery</span>
              <h1 class="display-text1 color-white">Solitaire</h1>
              <p class="display-text3 color-white">Rivière-Flow repräsentiert das beglückende Gefühl sich in einer Tätigkeit zu </p>
              <a href="#" class="primary-ghosted-btn color-white">Entdecken</a>
            </div>
      </div>
      <div class="banner-m position-relative">
        <div class="banner-img position-relative">
          <img src="../assets/images/banner-image.png" alt="">
        </div>
            <div class="banner-content position-absolute">
              <span class="color-white">Wagner Jewellery</span>
              <h1 class="display-text1 color-white">Solitaire</h1>
              <p class="display-text3 color-white">Rivière-Flow repräsentiert das beglückende Gefühl sich in einer Tätigkeit zu </p>
              <a href="#" class="primary-ghosted-btn color-white">Entdecken</a>
            </div>
      </div>
      <div class="banner-m position-relative">
        <div class="banner-img position-relative">
          <img src="../assets/images/banner-image.png" alt="">
        </div>
            <div class="banner-content position-absolute">
              <span class="color-white">Wagner Jewellery</span>
              <h1 class="display-text1 color-white">Solitaire</h1>
              <p class="display-text3 color-white">Rivière-Flow repräsentiert das beglückende Gefühl sich in einer Tätigkeit zu </p>
              <a href="#" class="primary-ghosted-btn color-white">Entdecken</a>
            </div>
      </div>
  </div>
  </div>
  </div>

  
  
<!-- JS Global Compulsory (Do not remove)-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/slick.min.js"></script>
</body>
</html>