<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Blog Components</title>
</head>
<body>
   <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="blog-detail mt-30">
                    <div class="blog-img position-relative">
                        <a href="#"><img src="../assets/images/img-blog-01.png" alt="Blog1"></a>
                        <div class="blog-content position-absolute">
                            <span class="small-text-bold">riviere flow</span>
                            <p class="lead-text">Rivière-Flow repräsentiert das beglückende Gefühl sich in einer Tätigkeit zu verwirklichen.</p>
                            <a href="" class="primary-ghosted-btn color-white">Entdecken</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="blog-detail">
                    <div class="blog-img position-relative">
                        <a href="#"><img src="../assets/images/img-blog-02.png" alt="Blog2"></a>
                        <div class="blog-content position-absolute text-center">
                            <p class="lead-text">Einzigartige Anziehung geht seit jeher von edlen Juwelen aus.</p>
                            <a href="#" class="primary-ghosted-btn color-white">Entdecken</a>
                        </div>
                    </div>
                </div>
            <div class="blog-detail mt-30">
                    <div class="blog-img position-relative">
                        <a href="#"><img src="../assets/images/img-blog-03.png" alt="Blog3"></a>
                        <div class="blog-content position-absolute text-center">
                            <span>Wagner ateliers</span>
                            <p class="lead-text">Einzigartige Anziehung geht seit jeher von edlen Juwelen aus.</p>
                            <a href="#" class="primary-ghosted-btn color-white">Entdecken</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="blog-detail mt-30">
                    <div class="blog-img position-relative">
                        <a href="#"><img src="../assets/images/img-blog-04.png" alt="Blog4"></a>
                        <div class="blog-content position-absolute">
                            <span>Wagner ateliers</span>
                            <p class="lead-text">Rivière-Flow repräsentiert das beglückende Gefühl sich in einer Tätigkeit zu verwirklichen.</p>
                            <a href="" class="primary-ghosted-btn color-white">Entdecken</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
<!-- JS Global Compulsory (Do not remove)-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>