<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Blog Components</title>
</head>
<body>
   <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-main overflow-hidden">
                  <div class="blog-page-img float-left">
                    <img src="../assets/images/blog1.jpg" alt="blog1">
                  </div>
                  <div class="blog-page-content float-right">
                    <span class="text-uppercase">Neuheiten, Wagner, Schmuck</span>
                    <h2>Funkelnde Geschenks Inspirationen</h2>
                    <p>Schenken ist stets mit Freude verbunden: Ob gemeinsam ausgewählt oder als Überraschung für einen geliebten Menschen. Ob als Belohnung für die Erreichung eines persönlich gesetzten Ziels oder um die schönen Dinge des Lebens im Hier und Jetzt zu genießen. <a href="" class="d-inline-block">Weiterlesen <object type="image/svg+xml" data="assets/images/arrow-icon2.svg" class="icon-arrow-blog">
                    </object> </a></p>
                    <div class="blog-slider position-relative mt-30">
                      <h3 class="d-inline-block position-relative">Treasures inside</h3>
                      <div class="product-slider">
                        <div class="product-detail">
                          <div class="product-img default-product-box">
                            <a href=""><img src="../assets/images/blog-slider-img2.png" alt="product1"></a>
                          </div>
                        </div>
                        <div class="product-detail">
                          <div class="product-img default-product-box">
                            <a href=""><img src="../assets/images/blog-slider-img3.png" alt="product1"></a>
                          </div>
                        </div>
                        <div class="product-detail">
                          <div class="product-img default-product-box">
                            <a href=""><img src="../assets/images/blog-slider-img2.png" alt="product1"></a>
                          </div>
                        </div>
                        <div class="product-detail">
                          <div class="product-img default-product-box">
                            <a href=""><img src="../assets/images/blog-slider-img3.png" alt="product1"></a>
                          </div>
                        </div>
                        <div class="product-detail">
                          <div class="product-img default-product-box">
                            <a href=""><img src="../assets/images/blog-slider-img2.png" alt="product1"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
   </div>
   <div class="section mt-30">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="blog-detail-left-text">
            <h2 class="display-text2">Wagner Rivière-Flow: Ein Symbol für Stärke und Optimismus.</h3>
            <p class="lead-text">Rivière-Flow repräsentiert das beglückende Gefühl sich in einer Tätigkeit zu verwirklichen. Gefertigt in 18 Karat Gold symbolisiert das Design Stärke und Optimismus. Je nach persönlichem Stil sind die Juwelen in verschiedenen Goldfarben, mit und ohne Diamanten, erhältlich und können nach Belieben kombiniert werden.</p>
            <h3 class="display-text2 blog-heading-text">Das Flow-Erlebnis</h4>
            <p>Um in den Zustand des Flow zu gelangen, muss man sich einer Tätigkeit mit vollster Überzeugung widmen. Mit über 100 Jahren an Goldschmiedeerfahrung wird dies in den Ateliers von Wagner täglich gelebt. Neu präsentiert wird nun die Collection Rivière-Flow. Geschaffen als tägliche Begleiter des Alltags, signalisieren die Juwelen die positive Motivation ihrer Trägerin.            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="blog-detail-left-img position-relative text-center">
            <div class="bracelet1 position-absolute">
            <img src="../assets/images/bracelet-img1.png" alt="">
            
            </div>
            <object type="image/svg+xml" data="assets/images/plus-icon.svg" class="plus-icon1 position-absolute">
            </object>
            <div class="bracelet2 position-absolute">
              <img src="../assets/images/bracelet-img2.png" alt="">
              </div>
              <object type="image/svg+xml" data="assets/images/plus-icon2.svg" class="plus-icon2 position-absolute">
              </object>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="quote-blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="quote-box position-relative">
            <object type="image/svg+xml" data="../assets/images/icon-quote-end.svg" class="icon-quote icon-quote-start position-absolute">
            </object>
            <h3 class="display-text2">Um in den Zustand des Flow
              zu gelangen, muss man sich
              einer Tätigkeit mit vollster
              Überzeugung widmen.</h3>
              <object type="image/svg+xml" data="../assets/images/icon-quote-start.svg" class="icon-quote icon-quote-end position-absolute">
              </object>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="quote-img">
            <img src="../assets/images/quote-img.jpg" alt="quote-img">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-content section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="margin-blog-left blog-content-m">
            <h3 class="display-text2 blog-heading-text">Das Flow-Design</h3>
            <p>Zarte, klare Formen verleihen Rivière-Flow ein modernes Erscheinungsbild. Gefertigt wird die Collection in 18 Karat Weiß- oder Roségold. Das besondere Design der Oberfläche lässt die Juwelen erstrahlen und vermittelt durch geradlinige Formen dennoch einen kühnen, straighten Look.</p>
            <p>Auf Wunsch für noch mehr Glanz gibt es die Juwelen auch mit Diamanten veredelt. Diese werden so gekonnt gefasst, dass ihre natürliche Strahlkraft optimal zur Geltung kommt.</p>
            <div class="blog-content-m margin-blog-left">
              <h3 class="display-text2 blog-heading-text">Der Flow-Style</h3>
              <p>Sowohl Collier als auch Armschmuck der Collection Rivière-Flow verfügen über mehrere Ösen, damit die Länge je nach Outfit angepasst werden kann. Für ein besonderes Statement werden mehrere Juwelen – vor allem mehrere Ringe – miteinander kombiniert.</p>
              <p>  Alle Juwelen von Juwelier Wagner sind mit dem blauen <a href="" class="text-link">Wagner Saphir </a> – dem Original signiert.</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="blog-detail2-left-heading text-center">
            <h2 class="display-text2">Tudor Black Bay Fifty- <br> Eight Navy-Blue</h2>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <p class="lead-text ">Seiner langen Tradition blauer Sportuhren getreu bietet TUDOR jetzt eine „Navy
              Blue“-Version des Flaggschiff-Modells Black Bay Fifty-Eight an. Der Name der Black Bay Fifty-Eight „Navy Blue“ leitet sich selbstverständlich aus ihrer Farbe ab, aber auch aus dem Jahr 1958, in dem die erste TUDOR Taucheruhr mit einer Wasserdichtheit bis zu einer Tiefe von 200 Metern, Referenz 7924 oder „Big Crown“, präsentiert wurde. Neben anderen ästhetischen Bezügen auf diese historische Armbanduhr ist dieses Modell mit einem 39-mm-Gehäuse ausgestattet und bleibt damit den charakteristischen Proportionen der Modelle aus den 1950er-Jahren treu. Ideal für schmale Handgelenke, für diejenigen, die gerne kompaktere Armbanduhren tragen, und für Liebhaber klassischer Modelle, führt die Black Bay Fifty-Eight „Navy Blue“ außerdem
              die lange Tradition der blauen Sportuhren fort.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-detail2-list-section light-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="blog-detail2-img">
            <img src="../assets/images/blog-detail2-img1.jpg" alt="blog-detail2-img1">
          </div>
        </div>
        <div class="col-lg-6 col-md-12 list-margin-section">
          <h3 class="display-text3 blog2-heading-text">Besonderheiten der Tudor Black Bay Fifty-Eight Navy Blue </h3>
          <ul>
            <li>39-mm-Gehäuse in Edelstahl 316L</li>
            <li>Gewölbtes, matt gekörntes Zifferblatt in Marineblau mit applizierten Stundenindizes „Snowflake“-Zeiger, ein Markenzeichen der 1969 eingeführten TUDOR Taucheruhren, mit der hochwertigen phosphoreszierenden Swiss Super-LumiNova®-Beschichtung
            </li>
            <li>Manufakturwerk Kaliber MT5402 (COSC-zertifiziert) mit Siliziumfeder und einer Gangreserve von 70 Stunden </li>
            <li>Drei Armbandoptionen: Jacquardgewebe in Blau mit Silber, „Soft Touch“-Band in Blau und vernietetes Edelstahlband
            </li>
            <li>Fünfjährige, übertragbare Garantie</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-detail2-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="blog-detail2-center-section2">
            <div class="blog-detail2-left-img float-left">
              <img src="../assets/images/blog-detail2-img2.png" alt="blog-detail2-img2">
            </div>
            <div class="blog-detail2-right-content float-right">
              <h4 class="display-text3 blog2-heading-text">Das Kaliber MT5402</h4>
              <p class="blog2-text">Das Manufakturwerk Kaliber MT5402, mit dem die Black Bay Fifty-Eight „Navy Blue“ ausgestattet ist, zeigt die Stunden-, Minuten- und Sekundenfunktionen. Es ist im typischen Stil der TUDOR Manufakturkaliber gehalten. Der Rotor aus einem Wolfram-Monoblock ist durchbrochen und satiniert mit sandgestrahlten Details. Die Brücken und
                die Hauptplatine sind mit abwechselnd sandgestrahlten, polierten Oberflächen und Laser-Verzierungen gestaltet.</p>
            </div>
          </div>
            <div class="blog-detail2-center-section-m">
              <h4 class="display-text3 blog2-heading-text">Tudor Blau</h4>
              <p class="blog2-text">1969 führte TUDOR eine Taucheruhr mit einem blauen Zifferblatt und blauer Lünette
                ein. Auch die anderen Sportuhren in der Kollektion waren bald darauf in Blau erhältlich, was unmittelbar zum Entstehen des ästhetischen Markenzeichens führte, das
                als „TUDOR Blau“ bekannt ist. Von der französischen Marine in den 1970er-Jahren für
                ihre TUDOR Taucheruhren übernommen, wurde diese Farbe Teil der kollektiven Vorstellungskraft. 
                </p>
                <p class="blog2-text">Die Black Bay Fifty-Eight „Navy Blue“ folgt dieser Tradition mit ihrem Zifferblatt und ihrer Zahlenscheibe in Marineblau. Diese Farbe tritt auch auf dem „Soft
                  Touch“-Band in Erscheinung, das mit diesem Modell angeboten wird und aus einem
                  synthetischen, haptischen Material hergestellt ist, das Flanell ähnelt.</p>
                <h5 class="display-text3 blog2-heading-text ">10 Jahre Tudor Textilband</h5>
                <p>Marineblau ist auch die dominante Farbe für das Textilband, das mit diesem Modell
                  angeboten wird. Das Textilband ist eines der Markenzeichen von TUDOR – das Unternehmen bot es 2010 als eine der allerersten Uhrenmarken mit seinen Produkten an. Es wird in Frankreich auf Jacquardwebstühlen aus dem 19. Jahrhundert von dem Unternehmen Julien Faure aus der Region Saint-Étienne gewoben. Seine Herstellungsqualität und sein Tragekomfort am Handgelenk sind einzigartig. 2020 feiern TUDOR und Julien Faure, ein 150 Jahre altes Familienunternehmen, das zehnjährige Jubiläum ihrer Partnerschaft, die ihren Anfang nahm, kurz bevor der Heritage Chrono 2010 vorgestellt wurde – das erste mit einem Textilband des Kunsthandwerkers ausgestattete Modell. Ein stolzes Jubiläum für eine dauerhafte Zusammenarbeit, die auf herausragender Expertise aufbaut.</p>
            </div>
         </div> 
      </div>
    </div>
  </div>
  <div class="section1 ">
    <div class="container blog-detail3-border-m section">
      <div class="blog-detail3-border  overflow-hidden">
        <div class=" float-left mt-30">
          <div class="blog-detail-3-img blog-border-outline ">
            <img src="../assets/images/blog-detail3-img5.jpg" alt="blog-detail3-img5">
          </div>
        </div>
        <div class="float-right mt-30">
          <div class="blog-detail-3-content">
            <p>Als die Breitling Chronomat 1984 auf den Markt kam, bedeutete dies eine willkommene Rückkehr zu den mechanischen Schweizer Uhren, die so gut wie verschwunden waren, als in den 1970er-Jahren Quarzuhren den Markt dominierten. Inspiriert von der Frecce Tricolori Uhr, die 1983 in Zusammenarbeit mit der berühmten gleichnamigen italienischen Flugstaffel entwickelt und auf den Markt gebracht worden war, feierte die Chronomat stilvoll das hundertjährige Bestehen von Breitling. Dies bedeutete die Rückkehr des mechanischen Chronographen, auf dem die Marke ihren weltweiten Ruf aufgebaut hatte, zu der ihm gebührenden herausragenden Stellung. Dieses technische Erbe, kombiniert mit besonders stilvollen Designelementen, machte die Chronomat zur ultimativen sportlich-schicken Uhr ihrer Zeit, zu einem Ausdruck von Ästhetik und Selbstbewusstsein, der den Chronographen wieder «cool» machte.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section1  mt-30">
    <div class="container blog-detail3-border-m section">
      <div class="blog-detail3-border  overflow-hidden">
        <div class=" float-right mt-30">
          <div class="blog-detail-3-img blog-border-outline ">
            <img src="../assets/images/blog-detail3-img4.jpg" alt="blog-detail3-img4">
          </div>
        </div>
        <div class="float-left mt-30">
          <div class="blog-detail-3-content">
            <p>Die Chronomat ist schon lange die erklärte Lieblingsuhr der Piloten, hat aber auch unter Uhrenliebhabern, deren Abenteuer nicht nur in der Luft, sondern auch zu Lande sowie über und unter Wasser stattfinden, leidenschaftliche Anhänger. Tatsächlich wurde ihre Attraktivität durch ihre Vielseitigkeit in den späten 1980er- und frühen 1990er-Jahren noch gesteigert, als ihr Tachymeter das Interesse der Formel-1-Teams erregte, während ihre reversiblen Reiter sie zur idealen Uhr für Regatten machten.</p>
            <p> Die leidenschaftlichen und modischen Abenteurer von heute werden sich gewiss ebenso von der neuen Chronomat Kollektion angezogen fühlen, die Breitlings Engagement für authentischen, alltäglichen Luxus für Männer und Frauen, denen Zielstrebigkeit, Action und Stil wichtig sind, perfekt widerspiegelt. Die neue Chronomat, die im Jahr 2020 mit einigen modernisierten Akzenten am Original neu gestaltet wurde, nutzt die charakteristischen Designelemente und den Spirit der Uhr.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="middle-section-blog secondary-bg text-center mt-30">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Breitling hatte den Namen Chronomat für einige seiner Uhren aus den 1940er-Jahren verwendet, und in jenen frühen Tagen war das Wort eine Zusammensetzung aus «Chronograph für die Mathematik». Die Chronomat von 1984 drückte etwas anderes aus: «Chronograph» und «Automatik» – ein Name, der die Aufmerksamkeit auf das mechanische Uhrwerk mit Automatikaufzug lenkte, das die Uhr antreibt.</p>
        </div>
      </div>
  </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="blog-detail3-overlap-text position-relative">
            <img src="../assets/images/blog-detail3-img6.jpg" alt="blog-detail3-img6">
            <h4 class="display-text1 position-absolute color-white text-center m-auto">Ihre perfekte Chronomat ist da</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-30 light-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-product-tab-description">
            <ul class="nav nav-tabs text-center blog-product-slider">
              <li class="active"><a data-toggle="tab" href="#blog-product-tab1" class="d-block"> <img src="../assets/images/blog-detail3-watch.png" alt="blog-detail3-watch" class="d-block m-auto"> <p class="lead-text secondary-text-color">Chronomat B01 42 - Edelstahl</p></a></li>
              <li><a data-toggle="tab" href="#blog-product-tab2" class="d-block"><img src="../assets/images/blog-detail3-watch.png" alt="blog-detail3-watch" class="d-block m-auto"> <p class="lead-text secondary-text-color">Chronomat B01 42 – Bi-Colour</p></a></li>
              <li><a data-toggle="tab" href="#blog-product-tab3" class="d-block"><img src="../assets/images/blog-detail3-watch.png" alt="blog-detail3-watch" class="d-block m-auto"> <p class="lead-text secondary-text-color">Chronomat B01 42 – Rotgold </p></a></li>
            </ul>
            <div class="tab-content">
              <div id="blog-product-tab1" class="tab-pane fade in active show">
                <div class="blog-product-description">
                  <div class="blog-product-description-heading overflow-hidden">
                    <h3 class="display-text3 float-left">Uhrwerk</h3>
                    <p class="product-description float-right">Referenz: AB0134101G1A1 / AB0134101K1A1 / AB0134101C1A1 oder AB0134101B1A1</p>
                  </div>
                    <div class="row">
                      <div class="col-md-6 col-lg-6">
                        <table>
                          <tr>
                            <td><strong>Kaliber</strong></td>
                            <td>Breitling-Manufakturkaliber 01</td>
                          </tr>
                          <tr>
                            <td><strong>Durchmesser</strong></td>
                            <td>30 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Tiefe</strong></td>
                            <td>7,2 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Aufzug</strong></td>
                            <td>mechanisch mit <a href="#" class="blog-text-decoration-color"> Selbstaufzug</a>, bidirektional mit Kugellager</td>
                          </tr>
                          <tr>
                            <td><strong>Gangreserve</strong></td>
                            <td>ca. 70 Stunden</td>
                          </tr>
                          <tr>
                            <td><strong>Anzahl Komponenten</strong></td>
                            <td>346</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-6 col-lg-6">
                        <table>
                          <tr>
                            <td><strong>Unruhfrequenz</strong></td>
                            <td>28 800 A/h oder 4 Hertz</td>
                          </tr>
                          <tr>
                            <td><strong>Chronograph</strong></td>
                            <td> Schaltradsteuerung, Vertikalkupplung, ¼-Sekunde, 30-Minuten- und 12-Stunden-Zähler</td>
                          </tr>
                          <tr>
                            <td><strong>Anzeige</strong></td>
                            <td>Stunden, Minuten, Sekunden, Datumsfenster</td>
                          </tr>
                          <tr>
                            <td><strong>Zertifizierung</strong></td>
                            <td>COSC-Zertifizierung</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-lg-6">
                        <div class="blog-product-description-heading overflow-hidden">
                          <h3 class="display-text3 float-left">Gehäuse</h3>
                        </div>
                        <table>
                          <tr>
                            <td><strong>Material</strong></td>
                            <td>Edelstahl</td>
                          </tr>
                          <tr>
                            <td><strong>Durchmesser</strong></td>
                            <td>42 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Höhe</strong></td>
                            <td>15.10 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Wasserdichtigkeit</strong></td>
                            <td>bis 20 Bar (200 Meter);</td>
                          </tr>
                          <tr>
                            <td><strong>Glas</strong></td>
                            <td> Saphir, gewölbt, beidseitig entspiegelt, Saphirglas</td>
                          </tr>
                          <tr>
                            <td><strong>Krone</strong></td>
                            <td>verschraubt, mit zwei Dichtungen</td>
                          </tr>
                          <tr>
                            <td><strong>Lünette</strong></td>
                            <td>einseitig drehbar mit Sperre, mit Reitern, Ziffern und Indizes</td>
                          </tr>
                          <tr>
                            <td><strong>Gehäuseboden</strong></td>
                            <td>verschraubter Edelstahl</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-6 col-lg-6 ">
                        <div class="blog-product-description-heading overflow-hidden">
                          <h3 class="display-text3 float-left">Ziffernblatt/Zeiger</h3>
                        </div>
                        <p class="blog3-tab-content">Silberfarben, kupferfarben oder blau mit kontrastierenden schwarzen Chronographenzählern oder schwarz mit kontrastierenden silberfarbenen Chronographenzählern; Super-LumiNova®-Leuchtziffern und –zeiger</p>
                        <div class="blog-product-description-heading overflow-hidden">
                          <h3 class="display-text3 float-left">Armband</h3>
                        </div>
                        <p class="blog3-tab-content">Rouleaux-Armband aus Edelstahl mit Doppelfaltschließe.</p>
                      </div>
                    </div>
                </div>
              </div>
              <div id="blog-product-tab2" class="tab-pane fade">
                <div class="blog-product-description">
                  <div class="blog-product-description-heading overflow-hidden">
                    <h3 class="display-text3 float-left">Uhrwerk</h3>
                    <p class="product-description float-right">Referenz: AB0134101G1A1 / AB0134101K1A1 / AB0134101C1A1 oder AB0134101B1A1</p>
                  </div>
                    <div class="row">
                      <div class="col-md-6 col-lg-6">
                        <table>
                          <tr>
                            <td><strong>Kaliber</strong></td>
                            <td>Breitling-Manufakturkaliber 01</td>
                          </tr>
                          <tr>
                            <td><strong>Durchmesser</strong></td>
                            <td>30 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Tiefe</strong></td>
                            <td>7,2 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Aufzug</strong></td>
                            <td>mechanisch mit <a href="#" class="blog-text-decoration-color"> Selbstaufzug</a>, bidirektional mit Kugellager</td>
                          </tr>
                          <tr>
                            <td><strong>Gangreserve</strong></td>
                            <td>ca. 70 Stunden</td>
                          </tr>
                          <tr>
                            <td><strong>Anzahl Komponenten</strong></td>
                            <td>346</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-6 col-lg-6">
                        <table>
                          <tr>
                            <td><strong>Unruhfrequenz</strong></td>
                            <td>28 800 A/h oder 4 Hertz</td>
                          </tr>
                          <tr>
                            <td><strong>Chronograph</strong></td>
                            <td> Schaltradsteuerung, Vertikalkupplung, ¼-Sekunde, 30-Minuten- und 12-Stunden-Zähler</td>
                          </tr>
                          <tr>
                            <td><strong>Anzeige</strong></td>
                            <td>Stunden, Minuten, Sekunden, Datumsfenster</td>
                          </tr>
                          <tr>
                            <td><strong>Zertifizierung</strong></td>
                            <td>COSC-Zertifizierung</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-lg-6">
                        <div class="blog-product-description-heading overflow-hidden">
                          <h3 class="display-text3 float-left">Gehäuse</h3>
                        </div>
                        <table>
                          <tr>
                            <td><strong>Material</strong></td>
                            <td>Edelstahl</td>
                          </tr>
                          <tr>
                            <td><strong>Durchmesser</strong></td>
                            <td>42 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Höhe</strong></td>
                            <td>15.10 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Wasserdichtigkeit</strong></td>
                            <td>bis 20 Bar (200 Meter);</td>
                          </tr>
                          <tr>
                            <td><strong>Glas</strong></td>
                            <td> Saphir, gewölbt, beidseitig entspiegelt, Saphirglas</td>
                          </tr>
                          <tr>
                            <td><strong>Krone</strong></td>
                            <td>verschraubt, mit zwei Dichtungen</td>
                          </tr>
                          <tr>
                            <td><strong>Lünette</strong></td>
                            <td>einseitig drehbar mit Sperre, mit Reitern, Ziffern und Indizes</td>
                          </tr>
                          <tr>
                            <td><strong>Gehäuseboden</strong></td>
                            <td>verschraubter Edelstahl</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-6 col-lg-6 ">
                        <div class="blog-product-description-heading overflow-hidden">
                          <h3 class="display-text3 float-left">Ziffernblatt/Zeiger</h3>
                        </div>
                        <p class="blog3-tab-content">Silberfarben, kupferfarben oder blau mit kontrastierenden schwarzen Chronographenzählern oder schwarz mit kontrastierenden silberfarbenen Chronographenzählern; Super-LumiNova®-Leuchtziffern und –zeiger</p>
                        <div class="blog-product-description-heading overflow-hidden">
                          <h3 class="display-text3 float-left">Armband</h3>
                        </div>
                        <p class="blog3-tab-content">Rouleaux-Armband aus Edelstahl mit Doppelfaltschließe.</p>
                      </div>
                    </div>
                </div>
              </div>
              <div id="blog-product-tab3" class="tab-pane fade">
                <div class="blog-product-description">
                  <div class="blog-product-description-heading overflow-hidden">
                    <h3 class="display-text3 float-left">Uhrwerk</h3>
                    <p class="product-description float-right">Referenz: AB0134101G1A1 / AB0134101K1A1 / AB0134101C1A1 oder AB0134101B1A1</p>
                  </div>
                    <div class="row">
                      <div class="col-md-6 col-lg-6">
                        <table>
                          <tr>
                            <td><strong>Kaliber</strong></td>
                            <td>Breitling-Manufakturkaliber 01</td>
                          </tr>
                          <tr>
                            <td><strong>Durchmesser</strong></td>
                            <td>30 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Tiefe</strong></td>
                            <td>7,2 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Aufzug</strong></td>
                            <td>mechanisch mit <a href="#" class="blog-text-decoration-color"> Selbstaufzug</a>, bidirektional mit Kugellager</td>
                          </tr>
                          <tr>
                            <td><strong>Gangreserve</strong></td>
                            <td>ca. 70 Stunden</td>
                          </tr>
                          <tr>
                            <td><strong>Anzahl Komponenten</strong></td>
                            <td>346</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-6 col-lg-6">
                        <table>
                          <tr>
                            <td><strong>Unruhfrequenz</strong></td>
                            <td>28 800 A/h oder 4 Hertz</td>
                          </tr>
                          <tr>
                            <td><strong>Chronograph</strong></td>
                            <td> Schaltradsteuerung, Vertikalkupplung, ¼-Sekunde, 30-Minuten- und 12-Stunden-Zähler</td>
                          </tr>
                          <tr>
                            <td><strong>Anzeige</strong></td>
                            <td>Stunden, Minuten, Sekunden, Datumsfenster</td>
                          </tr>
                          <tr>
                            <td><strong>Zertifizierung</strong></td>
                            <td>COSC-Zertifizierung</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-lg-6">
                        <div class="blog-product-description-heading overflow-hidden">
                          <h3 class="display-text3 float-left">Gehäuse</h3>
                        </div>
                        <table>
                          <tr>
                            <td><strong>Material</strong></td>
                            <td>Edelstahl</td>
                          </tr>
                          <tr>
                            <td><strong>Durchmesser</strong></td>
                            <td>42 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Höhe</strong></td>
                            <td>15.10 Millimeter</td>
                          </tr>
                          <tr>
                            <td><strong>Wasserdichtigkeit</strong></td>
                            <td>bis 20 Bar (200 Meter);</td>
                          </tr>
                          <tr>
                            <td><strong>Glas</strong></td>
                            <td> Saphir, gewölbt, beidseitig entspiegelt, Saphirglas</td>
                          </tr>
                          <tr>
                            <td><strong>Krone</strong></td>
                            <td>verschraubt, mit zwei Dichtungen</td>
                          </tr>
                          <tr>
                            <td><strong>Lünette</strong></td>
                            <td>einseitig drehbar mit Sperre, mit Reitern, Ziffern und Indizes</td>
                          </tr>
                          <tr>
                            <td><strong>Gehäuseboden</strong></td>
                            <td>verschraubter Edelstahl</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-6 col-lg-6 ">
                        <div class="blog-product-description-heading overflow-hidden">
                          <h3 class="display-text3 float-left">Ziffernblatt/Zeiger</h3>
                        </div>
                        <p class="blog3-tab-content">Silberfarben, kupferfarben oder blau mit kontrastierenden schwarzen Chronographenzählern oder schwarz mit kontrastierenden silberfarbenen Chronographenzählern; Super-LumiNova®-Leuchtziffern und –zeiger</p>
                        <div class="blog-product-description-heading overflow-hidden">
                          <h3 class="display-text3 float-left">Armband</h3>
                        </div>
                        <p class="blog3-tab-content">Rouleaux-Armband aus Edelstahl mit Doppelfaltschließe.</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- JS Global Compulsory (Do not remove)-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/slick.min.js"></script>
</body>
</html>