<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Client Logo Section</title>
</head>
<body>
   <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="clients-logo">
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo1.jpg" alt="client-logo1">
                    </div>
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo2.jpg" alt="client-logo2">
                    </div>
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo3.jpg" alt="client-logo3">
                    </div>
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo4.jpg" alt="client-logo4">
                    </div>
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo5.jpg" alt="client-logo5">
                    </div>
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo6.jpg" alt="client-logo6">
                    </div>
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo7.jpg" alt="client-logo7">
                    </div>
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo8.jpg" alt="client-logo8">
                    </div>
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo9.jpg" alt="client-logo9">
                    </div>
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo10.jpg" alt="client-logo10">
                    </div>
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo11.jpg" alt="client-logo11">
                    </div>
                    <div class="client-logo-img">
                        <img src="../assets/images/client-logo12.jpg" alt="client-logo12">
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>

<!-- JS Global Compulsory (Do not remove)-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>