<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Insights Section</title>
</head>
<body>
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="breadcrumbs-m">
                        <ul>
                            <li><a href="" class="default-link-icon">Startseite <object type="image/svg+xml" data="../assets/images/language-arrow-icon.svg" class="icon icon-arrow">
                            </object> </a></li>
                            <li><a href="" class="default-link-icon" >Wagner Jewellery <object type="image/svg+xml" data="../assets/images/language-arrow-icon.svg" class="icon icon-arrow">
                            </object> </a></li>
                            <li class="active"><a href="" class="default-link-icon">Drop <object type="image/svg+xml" data="../assets/images/language-arrow-icon.svg" class="icon icon-arrow">
                            </object></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collections-banner" >
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="collection-banner-m position-relative">
                <div class="collection-banner-img overlay position-relative">
                <img src="../assets/images/collection-banner1.jpg" alt="">
                </div>
              <div class="collection-banner-text position-absolute">
                <span class="color-white">Wagner Jewellery</span>
                <h2 class="display-text1 color-white">Drop</h2>
                <p class="color-white lead-text">Die Form des Tropfens, der das Wasser als lebensspendendes Element symbolisiert, wurde in der Collection Drop aufgenommen und als Designelement edler Juwelen umgesetzt. Zahlreiche Diamanten lassen Drop funkeln und strahlen. - So wie die Oberfläche von klarem Wasser, wenn Sonnenstrahlen auf dieses trifft und es zum Leuchten bringt.</p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

<!-- JS Global Compulsory (Do not remove)-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>