<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Footer</title>
</head>
<body>
  <footer class="footer">
    <div class="footer-location white-border">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="footer-location-m text-left">
              <h4>Juwelier Wagner</h4>
              <p>Kärntner Straße 32, <br/> 1010 Wien</p>
              <p><object type="image/svg+xml" data="assets/images/contact-icon.svg" class="icon-contact">
              </object>  +43 1 512 0 512</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="footer-location-m">
              <h4>Rolex Boutique</h4>
              <p>Graben 21 / Tuchlauben 2 <br/>
                1010 Wien</p>
              <p><object type="image/svg+xml" data="assets/images/contact-icon.svg" class="icon-contact">
              </object>  +43 1 512 0 512</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="footer-location-m text-right">
              <h4>Juwelier Wagner</h4>
              <p>Kohlmarkt 10 <br/>
                1010 Wien </p>
              <p><object type="image/svg+xml" data="assets/images/contact-icon.svg" class="icon-contact">
              </object> +43 1 512 0 512</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="footer-map">
              <a data-toggle="collapse" data-target="#map-collapse" role="button" class="footer-small-link" aria-expanded="true"><div class="show-map">Karte ausblenden</div> <div class="hide-map">Karte einblenden</div> <span class="fa fa-angle-up"></span></a>
              <div class="map-img collapse show" id="map-collapse">
                <img src="../assets/images/map-img.PNG" alt="map-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-newsletter white-border">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 newsletter-new-section">
            <h4>Öffnungszeiten</h4>
            <span class="lead-text footer-margin-bottom">Montag bis Freitag 10.00 – 18.30 Uhr <br>
              Samstag 10.00 – 18.00 Uhr
            </span>
          </div>
          <div class="col-lg-6 col-md-6 newsletter-new-section">
            <h4>Kontaktieren Sie uns per E-Mail</h4>
            <span class="lead-text"> <img src="../assets/images/envelope-icon.svg" alt="envelope-icon"> info@juwelier-wagner.at</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 mt-30 newsletter-new-section">
            <h4>Newsletter Anmeldung</h4>
            <form method="post">
              <label for="footer-newsletter" class="d-none">.</label><input type="email" value="" placeholder="E-Mail Adresse" id="footer-newsletter" name="footer-newsletter">
            </form>
          </div>
          
          <div class="col-lg-6 col-md-6 mt-30 newsletter-new-section">
            <h5>Zahlungsmöglichkeiten</h5>
            <div class="payment-icons">
              <ul>
                <li><a href="#"><img src="../assets/images/payment-icon1.png" alt="payment-icon1" ></a></li>
                <li><a href="#"><img src="../assets/images/payment-icon2.png" alt="payment-icon2" ></a></li>
                <li><a href="#"><img src="../assets/images/payment-icon3.png" alt="payment-icon3" ></a></li>
                <li><a href="#"><img src="../assets/images/payment-icon4.png" alt="payment-icon4" ></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-offer white-border">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="lead-text">
              <li>
                <object type="image/svg+xml" data="../assets/images/offer-icon1.svg" class="offer-icons">
                </object>
                <span>kostenlose Lieferung</span>
              </li>
              <li>
                <object type="image/svg+xml" data="../assets/images/offer-icon2.svg" class="offer-icons">
                </object>
                <span>sichere Bezahlung</span>
              </li>
              <li>
                <object type="image/svg+xml" data="../assets/images/offer-icon3.svg" class="offer-icons">
                </object>
                <span>luxuriöse<br>
                Geschenksverpackung</span>
              </li>
              <li>
                <object type="image/svg+xml" data="../assets/images/offer-icon4.svg" class="offer-icons">
                </object>
                <span>vier Geschäfte in Wien</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-list white-border">
      <div class="container">
        <div id="accordion">
        <div class="row">
          <div class="col-lg-2 col-md-4">
            <h6 data-toggle="collapse" href="#footerlist1" class="position-relative">Rolex <img src="../assets/images/language-arrow-icon.svg" alt="language-arrow-icon" class="position-absolute"></h6>
            <div id="footerlist1" class="dont-collapse-sm collapse show" data-parent="#accordion">
              <ul>
                <li><a href="#" class="footer-text-link">Datejust</a></li>
                <li><a href="#" class="footer-text-link">GMT-Master II</a></li>
                <li><a href="#" class="footer-text-link">Day-Date</a></li>
                <li><a href="#" class="footer-text-link">Submariner</a></li>
                <li><a href="#" class="footer-text-link"> Oyster Perpetual</a></li>
                <li><a href="#" class="footer-text-link">Cosmograph Dayona</a></li>
                <li><a href="#" class="footer-text-link">Yacht-Master</a></li>
                <li><a href="#" class="footer-text-link">Lady-Datejust</a></li>
                <li><a href="#" class="footer-text-link">Sea-Dweller</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <h6 data-toggle="collapse" href="#footerlist2" class="position-relative">Uhren Marken <img src="../assets/images/language-arrow-icon.svg" alt="language-arrow-icon" class="position-absolute"></h6>
            <div id="footerlist2" class="dont-collapse-sm collapse" data-parent="#accordion">
              <ul>
                <li><a href="#" class="footer-text-link">Breitling</a></li>
                <li><a href="#" class="footer-text-link">Bulgari</a></li>
                <li><a href="#" class="footer-text-link">Cartier</a></li>
                <li><a href="#" class="footer-text-link">Chopard</a></li>
                <li><a href="#" class="footer-text-link">Hublot</a></li>
                <li><a href="#" class="footer-text-link">Longines</a></li>
                <li><a href="#" class="footer-text-link">Penerai</a></li>
                <li><a href="#" class="footer-text-link">TAG Heuer</a></li>
                <li><a href="#" class="footer-text-link">Tudor</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <h6 data-toggle="collapse" href="#footerlist3" class="position-relative">Schmuck <img src="../assets/images/language-arrow-icon.svg" alt="language-arrow-icon" class="position-absolute"></h6>
            <div id="footerlist3" class="dont-collapse-sm collapse" data-parent="#accordion">
            <ul>
              <li><a href="#" class="footer-text-link">Ring</a></li>
              <li><a href="#" class="footer-text-link">Armschmuck</a></li>
              <li><a href="#" class="footer-text-link">Ketten & Colliers</a></li>
              <li><a href="#" class="footer-text-link">Ohrschmuck</a></li>
              <li><a href="#" class="footer-text-link">Accessoires</a></li>
              <li><a href="#" class="footer-text-link">Wagner Juwelen Collection</a></li>
              <li><a href="#" class="footer-text-link">Bulgari</a></li>
              <li><a href="#" class="footer-text-link">Chopard</a></li>
            </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <h6 data-toggle="collapse" href="#footerlist4" class="position-relative">Wagner Jewellery <img src="../assets/images/language-arrow-icon.svg" alt="language-arrow-icon" class="position-absolute"></h6>
            <div id="footerlist4" class="dont-collapse-sm collapse" data-parent="#accordion">
            <ul class="footer-text">
              <li><a href="#" class="footer-text-link">Solitaire</a></li>
              <li><a href="#" class="footer-text-link">Century</a></li>
              <li><a href="#" class="footer-text-link"> Il Ponte</a></li>
              <li><a href="#" class="footer-text-link">Looping</a></li>
              <li><a href="#" class="footer-text-link">Schutzengel</a></li>
              <li><a href="#" class="footer-text-link">Secrets</a></li>
              <li><a href="#" class="footer-text-link">Signature</a></li>
              <li><a href="#" class="footer-text-link">Starlight</a></li>
              <li><a href="#" class="footer-text-link"> Cala</a></li>
              <a href="#" class="footer-small-link"> mehr anzeigen <span class="fas fa-angle-down"></span></a>
            </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <h6 data-toggle="collapse" href="#footerlist5" class="position-relative">Hochzeit & Geschenke <img src="../assets/images/language-arrow-icon.svg" alt="language-arrow-icon" class="position-absolute"></h6>
            <div id="footerlist5" class="dont-collapse-sm collapse" data-parent="#accordion">
            <ul>
              <li><a href="#" class="footer-text-link">Eheringe</a></li>
              <li><a href="#" class="footer-text-link">Verlobungsringe</a></li>
              <li><a href="#" class="footer-text-link">Geschenke für Sie</a></li>
              <li><a href="#" class="footer-text-link">Wagner Accessoires</a></li>
              <li><a href="#" class="footer-text-link">Manschettenknöpfe </a></li>
              <li><a href="#" class="footer-text-link"> Gutscheine</a></li>
            </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <h6 data-toggle="collapse" href="#footerlist6" class="position-relative"> Wagner <img src="../assets/images/language-arrow-icon.svg" alt="language-arrow-icon" class="position-absolute"></h6>
            <div id="footerlist6" class="dont-collapse-sm collapse" data-parent="#accordion">
            <ul>
              <li><a href="#" class="footer-text-link">Unser Blog</a></li>
              <li><a href="#" class="footer-text-link">Neu eingetroffen</a></li>
              <li><a href="/templates/startpage/start-dialog.html" class="footer-text-link">Newsletter</a></li>
              <li><a href="#" class="footer-text-link">Guests & Friends</a></li>
              <li><a href="#" class="footer-text-link">Kultur</a></li>
              <li><a href="#" class="footer-text-link">Über Wagner</a></li>
              <li><a href="#" class="footer-text-link">Häufig gestellte Fragen </a></li>
              <li><a href="#" class="footer-text-link">Lexikon</a></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-9">
            <ul>
              <li><a href="#" class="footer-text-link">Impressum</a></li>
              <li><a href="/templates/contentpages/privacy_V1.html" class="footer-text-link">Datenschutzbestimmungen</a></li>
              <li><a href="/templates/contentpages/agb_V1.html" class="footer-text-link">Allgemeine Geschäftsbedingungen</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-3">
            <ul class="footer-social-icons">
              <li><a href="https://facebook.com/juwelierwagnervienna" target="_blank"><span class="fab fa-facebook-square"></span></a></li>
              <li><a href="https://www.instagram.com/juwelierwagner" target="_blank"><span class="fab fa-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!-- JS Global Compulsory (Do not remove)-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>