<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Header</title>
</head>
<body>
  <!-- header-->
  <header class="header">
    <div class="header-top position-relative alert">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="header-left-side position-relative">
              <img src="../assets/images/clock.svg" alt="icon-clock">
              <span>Montag bis Freitag von  10.00 – 18.30 Uhr | Samstag von 10:00 - 18:00 Uhr</span>
            </div>
          </div>
        </div>
        <div class="header-top-close-icon position-absolute ">
          <a href="#" class="close" data-dismiss="alert"><img src="../assets/images/close-wishlist-icon.svg" alt="language-delete-icon" class="icon"></a>
         </div>
      </div>
    </div>
    <div class="header-middle">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-12">
            <div class="rolex-img">
              <img src="../assets/images/rolax-logo.PNG" alt="Rolex-img">
            </div>
          </div>
          <div class="col-lg-8 col-md-12">
            <div class="header-menu">
              <div class="header-logo">
                <a href="index.html"><img src="../assets/images/logo.svg" alt="Logo-img"></a>
              </div>
              <div class="main-menu">
                <nav class="navbar navbar-expand-md">
                  <!-- Toggler/collapsibe Button -->
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <!-- Navbar links -->
                  <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/templates/kollektionen/rolex.html">Rolex</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/templates/kollektionen/wagner_uhren_kollektionen_V1.html">Uhren</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/templates/kollektionen/schmuck-collection.html">Schmuck</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../wagner-jewellery-overview.html">Wagner Jewellery</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/templates/startpage/anlasse-megamenu.html">Anlässe</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/templates/startpage/uber-wagner-megamenu.html">Über Wagner</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/templates/blog/wagner_Blog_V8.html">Blog</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-12">
            <div class="header-right-side text-link">
              <div class="header-contact-info">
                <ul >
                  <li><a href=""> 
                    Kontakt                    
                  </a></li>
                  <li><a href="">                 
                    Geschäfte                  
                  </a></li>
                  <li><a href="">               
                    Service                   
                  </a></li>
                </ul>
              </div>
            </div>
            <div class="header-shopping-icon">
              <ul>
                <li>
                  <a href="#">
                    <object type="image/svg+xml" data="../assets/images/search-icon.svg" class="icon icon-search">
                    </object>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                    </object>
                  </a>
                </li>
                <li>
                  <a href="#"> <object type="image/svg+xml" data="../assets/images/basket-icon.svg" class="icon icon-basket">
                  </object></a>
                 <div class="dropdown-basket-hover position-absolute">
                    <p class="text-uppercase secondary-text-color position-relative dropdown-heading text-center">mein warenkorb</p>
                    <div class="dropdown-cart-detail overflow-hidden">
                      <div class="dropdown-basket-img default-product-box float-left">
                        <img src="../assets/images/product-img1.png" alt="">
                      </div>
                      <div class="dropdown-basket-content text-left float-right">
                        <h4>Solitaire</h4>
                        <span class="secondary-text-color product-description">Ring</span>
                        <ul class="product-description secondary-text-color">
                          <li>
                            <object type="image/svg+xml" data="../assets/images/jewellery-icon.svg" class="icon jewellery-icon">
                            </object>
                            Ringgröße 52
                          </li>
                          <li>
                            <object type="image/svg+xml" data="../assets/images/diamond-icon.svg" class="icon diamond-icon">
                            </object>
                            0,14 ct Diamant
                          </li>
                        </ul>
                        
                      </div>
                      <div class="wishlist-price-checkout overflow-hidden">
                        <div class="wishlist-amount overflow-hidden">
                          <p class="float-left">Zwischensumme</p>
                          <p class="float-right amount-dropdown">€ 3.250,–</p>
                        </div>
                      </div>
                    </div>
                    <a href="" class="small-link-icon d-block text-center">Zum Warenkorb</a>
                    <a href="" class="d-block primary-btn">Zur Kassa</a>
                  </div>
                </li>
                <li>
                  <a href="#">
                    <object type="image/svg+xml" data="../assets/images/language-icon.svg" class="icon language-icon">
                    </object>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-menu">
      <div class="container">
        <div class="mobile-menu-m position-relative">
          <div class="mobile-menu-icon position-absolute">
           <a href="#" data-toggle="modal" data-target="#mobile-menu-popup"><img src="../assets/images/mobile-menu-icon.svg" alt="mobile-menu-icon"></a>
          </div>
          <div class="logo text-center">
            <img src="../assets/images/logo.svg" alt="Logo">
          </div>
          <div class="mobile-search-icon position-absolute">
            <a data-toggle="modal" data-target="#search-popup">
              <img src="../assets/images/search-icon.svg" alt="icon icon-search">
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div class="modal fade" role="dialog" id="search-popup">
    <div class="modal-dialog">
     <!-- Modal content-->
    <div class="modal-content">
      <div class="search-pop-close position-relative">
        <a class="close position-absolute secondary-text-color position-absolute text-uppercase" data-dismiss="modal">Schliessen <img src="../assets/images/close-wishlist-icon.svg" alt="close-icon"></a>
      </div>
      <div class="search-module">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="search-module-m">
                    <div class="search-logo text-center">
                        <img src="../assets/images/logo.svg" alt="Logo">
                    </div>
                    <form method="post">
                        <div class="form-group position-relative">
                            <label class="d-none" for="search">.</label>
                            <input type="text" value="" placeholder="Suchen ..." name="search" id="search">
                            <button><img src="../assets/images/header-search-icon.svg" alt="header-search-icon"></button>
                        </div>
                    </form>
                    <div class="search-collection">
                        <h3 class="display-text3 position-relative">Entdecken</h3>
                        <ul class="lead-text">
                            <li><a href=""><img src="../assets/images/search-collection-icon1.svg" alt="search-collection-icon1"> Ringe</a></li>
                            <li><a href=""><img src="../assets/images/search-collection-icon4.svg" alt="search-collection-icon1"> Armschmuck</a></li>
                            <li><a href=""><img src="../assets/images/search-collection-icon3.svg" alt="search-collection-icon1"> Ketten & Colliers</a></li>
                            <li><a href=""><img src="../assets/images/search-collection-icon2.svg" alt="search-collection-icon1"> Ohrschmuck</a></li>
                            <li><a href=""><img src="../assets/images/icon-collection-watches.svg" alt="search-collection-icon1"> Uhren</a></li>
                        </ul>
                    </div>
                    <div class="search-contact">
                        <h3 class="display-text3 position-relative">Können wir Sie unterstützen?</h3>
                        <p class="text-link secondary-text-color">Mo – Fr | 10.00 – 18.30 Uhr 
                            <span>Sa | 10.00 – 18.00 Uhr</span></p>
                        <p class="text-link secondary-text-color text-right"> <object type="image/svg+xml" data="assets/images/contact-icon.svg" class="icon-contact icon">
                        </object> +43 1 512 0 512 <a href=""> <object type="image/svg+xml" data="../assets/images/envelope-icon.svg" class="icon-contact icon">
                        </object> info@juwelier-wagner.at</a> </p>
                    </div>
                </div> 
                </div>
            </div>
        </div>
   </div>
    </div>
    </div>
  </div>

  <!-- Modal -->
	<div class="modal left fade" id="mobile-menu-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
          <div class="mobile-logo text-center">
            <a href="index.html"><img src="../assets/images/logo.svg" alt=""></a>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Rolex <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Uhren <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Schmuck <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../wagner-jewellery-overview.html">Wagner Jewellery <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Anlässe <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Über Wagner <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
            </li>
          </ul>
          <div class="mobile-blog">
            <div class="mobile-blog-detail">
              <div class="mobile-blog-img position-relative overlay">
                <img src="../assets/images/blog-subpage1.jpg" alt="blog-subpage1">
                <div class="menu-blog-content position-absolute">
                  <span class="text-uppercase color-white">Neuheiten</span>
                  <p class="color-white">Solitaire No 4</p>
                </div>
              </div>
            </div>
            <div class="mobile-blog-detail">
              <div class="mobile-blog-img position-relative overlay">
                <img src="../assets/images/blog-subpage7.jpg" alt="blog-subpage1">
                <div class="menu-blog-content position-absolute">
                  <span class="text-uppercase color-white">Neuheiten</span>
                  <p class="color-white">Solitaire No 4</p>
                </div>
              </div>
            </div>
            <div class="mobile-blog-detail">
              <div class="mobile-blog-img position-relative overlay">
                <img src="../assets/images/blog-subpage1.jpg" alt="blog-subpage1">
                <div class="menu-blog-content position-absolute">
                  <span class="text-uppercase color-white">Neuheiten</span>
                  <p class="color-white">Solitaire No 4</p>
                </div>
              </div>
            </div>
            <div class="mobile-blog-detail">
              <div class="mobile-blog-img position-relative overlay">
                <img src="../assets/images/blog-subpage7.jpg" alt="blog-subpage1">
                <div class="menu-blog-content position-absolute">
                  <span class="text-uppercase color-white">Neuheiten</span>
                  <p class="color-white">Solitaire No 4</p>
                </div>
              </div>
            </div>
            <div class="mobile-blog-detail">
              <div class="mobile-blog-img position-relative overlay">
                <img src="../assets/images/blog-subpage7.jpg" alt="blog-subpage1">
                <div class="menu-blog-content position-absolute">
                  <span class="text-uppercase color-white">Neuheiten</span>
                  <p class="color-white">Solitaire No 4</p>
                </div>
              </div>
            </div>
          </div>
          <div class="mobile-menu-contact section">
            <ul>
              <li><a href="" class="default-link-icon secondary-text-color"><img src="../assets/images/phone-icon.svg" alt=""> Kontakt</a></li>
              <li><a href=""><img src="../assets/images/service-icon.svg" alt=""> Service</a></li>
              <li><a href=""><img src="../assets/images/location-icon.svg" alt=""> Geschäfte</a></li>
              <li><a href=""><img src="../assets/images/language-icon.svg" alt=""> Deutsch</a></li>
            </ul>
          </div>
				</div>
			</div>
		</div>
	</div>
	
<!-- JS Global Compulsory (Do not remove)-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>

</body>
</html>