<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Newsletter Section</title>
</head>
<body>
    <div class="map-tooltip-active">
        <div class="container">
            <div class="map-tooltip-active-img position-relative">
                <img src="../assets/images/map-tooltip-bg.jpg" alt="map-tooltip-bg">
                <div class="map-tooltip-img text-center position-absolute">
                    <img src="../assets/images/tool-tip-active.png" alt="tool-tip-active">
                </div>
                <div class="map-tooltip-content position-absolute">
                    <h3 class="display-text3 text-center position-relative">Juwelier Wagner</h3>
                    <div class="overflow-hidden text-center">
                    <div class="tooltip-content-m float-left">
                        <p class="secondary-color product-description">Graben 21 / Tuchlauben 2 <br>
                        1010 Wien <br>
                        +43 1 512 3 512</p>
                    </div>
                    <div class="tooltip-content-m float-right">
                        <p class="secondary-color product-description"> <span class="strong-text">Öffnungszeiten</span><br>
                            Mo bis F  10.00 – 18.30 Uhr <br>
                            Sa 10.00 – 18.00 Uhr </p>
                    </div>
                    </div>
                    <div class="map-tooltip-btn text-center mt-30">
                        <a href="#" class="secondary-ghosted-btn d-inline-block">Zum Geschäft</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="../assets/js/jquery.min.js"></script>
</body>
</html>