<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Megamenu</title>
</head>
<body>
    <div class="mega-menu">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="mega-menu-section">
              <h4 class="secondary-text-color">Kategorien</h4>
              <ul>
                <li>
                  <a href="" class="d-block  default-link-icon secondary-text-color">Ring</a>
                </li>
                <li>
                  <a href="" class="d-block  default-link-icon secondary-text-color">Armschmuck</a>
                </li>
                <li>
                  <a href="" class="d-block  default-link-icon secondary-text-color">Ketten & Colliers</a>
                </li>
                <li>
                  <a href="" class="d-block  default-link-icon secondary-text-color">Ohrschmuck</a>
                </li>
                <li>
                  <a href="" class="d-block  default-link-icon secondary-text-color">Accessoires</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="mega-menu-section">
              <h4 class="secondary-text-color">Marken</h4>
              <ul>
                <li>
                  <a href="" class="d-block  default-link-icon secondary-text-color">Wagner Juwelen <br> Collectionen</a>
                </li>
                <li>
                  <a href="" class="d-block  default-link-icon secondary-text-color"> Bulgari</a>
                </li>
                <li>
                  <a href="" class="d-block  default-link-icon secondary-text-color">Chopard</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="mega-menu-section">
              <div class="menga-menu-blg">
                <div class="mega-menu-img">
                  <img src="../assets/images/megamenu-img.jpg" alt="megamenu-img">
                </div>
                <div class="mega-menu-content">
                  <span class="small-text-bold text-uppercase">Neuheiten</span>
                  <h2>Solitaire No 4</h2>
                  <p>Lorem ipsum dolor sit amet,<br> consetetur sadipscing elitr,</p>
                  <a href="" class="d-inline-block small-link-icon">Mehr dazu <object type="image/svg+xml" data="../assets/images/language-arrow-icon.svg" class="icon icon-right-arrow">
                  </object></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="mobile-menu-popup" class="rolex-submenu">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close megamenu-close-text text-uppercase" data-dismiss="modal" aria-label="Close">Schliessen <span aria-hidden="true" class=""> &times;</span></button>
          </div>
          <div class="modal-body">
            <div class="mobile-logo text-center">
              <a href="index.html"><img src="../assets/images/logo.svg" alt=""></a>
            </div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Rolex bei Wagner <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rolex Collection <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Festliche Auswahl <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../wagner-jewellery-overview.html">Neue Modelle 2020 <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Kontakt <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="mobile-menu-popup" class="rolex-submenu">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close megamenu-close-text text-uppercase" data-dismiss="modal" aria-label="Close">Schliessen <span aria-hidden="true" class=""> &times;</span></button>
          </div>
          <div class="modal-body">
            <div class="mobile-logo text-center">
              <a href="index.html"><img src="../assets/images/logo.svg" alt=""></a>
            </div>
            <div class="mobile-blog">
              <div class="mobile-blog-detail">
                <div class="mobile-blog-img position-relative overlay">
                  <img src="../assets/images/blog-subpage1.jpg" alt="blog-subpage1">
                  <div class="menu-blog-content position-absolute">
                    <span class="text-uppercase color-white">Neuheiten</span>
                    <p class="color-white">Solitaire No 4</p>
                  </div>
                </div>
              </div>
              <div class="mobile-blog-detail">
                <div class="mobile-blog-img position-relative overlay">
                  <img src="../assets/images/blog-subpage7.jpg" alt="blog-subpage1">
                  <div class="menu-blog-content position-absolute">
                    <span class="text-uppercase color-white">Neuheiten</span>
                    <p class="color-white">Solitaire No 4</p>
                  </div>
                </div>
              </div>
              <div class="mobile-blog-detail">
                <div class="mobile-blog-img position-relative overlay">
                  <img src="../assets/images/blog-subpage1.jpg" alt="blog-subpage1">
                  <div class="menu-blog-content position-absolute">
                    <span class="text-uppercase color-white">Neuheiten</span>
                    <p class="color-white">Solitaire No 4</p>
                  </div>
                </div>
              </div>
              <div class="mobile-blog-detail">
                <div class="mobile-blog-img position-relative overlay">
                  <img src="../assets/images/blog-subpage7.jpg" alt="blog-subpage1">
                  <div class="menu-blog-content position-absolute">
                    <span class="text-uppercase color-white">Neuheiten</span>
                    <p class="color-white">Solitaire No 4</p>
                  </div>
                </div>
              </div>
              <div class="mobile-blog-detail">
                <div class="mobile-blog-img position-relative overlay">
                  <img src="../assets/images/blog-subpage7.jpg" alt="blog-subpage1">
                  <div class="menu-blog-content position-absolute">
                    <span class="text-uppercase color-white">Neuheiten</span>
                    <p class="color-white">Solitaire No 4</p>
                  </div>
                </div>
              </div>
            </div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Rolex bei Wagner <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rolex Collection <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Festliche Auswahl <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../wagner-jewellery-overview.html">Neue Modelle 2020 <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Kontakt <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="mobile-menu-popup" class="wagner-submenu">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close megamenu-close-text text-uppercase" data-dismiss="modal" aria-label="Close">Schliessen <span aria-hidden="true" class=""> &times;</span></button>
          </div>
          <div class="modal-body">
            <div class="mobile-logo text-center">
              <a href="index.html"><img src="../assets/images/logo.svg" alt=""></a>
            </div>
            <div class="mobile-blog">
              <div class="mobile-blog-detail">
                <div class="mobile-blog-img position-relative overlay">
                  <img src="../assets/images/blog-subpage1.jpg" alt="blog-subpage1">
                  <div class="menu-blog-content position-absolute">
                    <span class="text-uppercase color-white">Neuheiten</span>
                    <p class="color-white">Solitaire No 4</p>
                  </div>
                </div>
              </div>
              <div class="mobile-blog-detail">
                <div class="mobile-blog-img position-relative overlay">
                  <img src="../assets/images/blog-subpage7.jpg" alt="blog-subpage1">
                  <div class="menu-blog-content position-absolute">
                    <span class="text-uppercase color-white">Neuheiten</span>
                    <p class="color-white">Solitaire No 4</p>
                  </div>
                </div>
              </div>
              <div class="mobile-blog-detail">
                <div class="mobile-blog-img position-relative overlay">
                  <img src="../assets/images/blog-subpage1.jpg" alt="blog-subpage1">
                  <div class="menu-blog-content position-absolute">
                    <span class="text-uppercase color-white">Neuheiten</span>
                    <p class="color-white">Solitaire No 4</p>
                  </div>
                </div>
              </div>
              <div class="mobile-blog-detail">
                <div class="mobile-blog-img position-relative overlay">
                  <img src="../assets/images/blog-subpage7.jpg" alt="blog-subpage1">
                  <div class="menu-blog-content position-absolute">
                    <span class="text-uppercase color-white">Neuheiten</span>
                    <p class="color-white">Solitaire No 4</p>
                  </div>
                </div>
              </div>
              <div class="mobile-blog-detail">
                <div class="mobile-blog-img position-relative overlay">
                  <img src="../assets/images/blog-subpage7.jpg" alt="blog-subpage1">
                  <div class="menu-blog-content position-absolute">
                    <span class="text-uppercase color-white">Neuheiten</span>
                    <p class="color-white">Solitaire No 4</p>
                  </div>
                </div>
              </div>
            </div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Solitaire <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Aura <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Balou <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../wagner-jewellery-overview.html">Butterfly <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cala <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Century <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Colosseo <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="mobile-menu-popup" class="schmuck-submenu">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close megamenu-close-text text-uppercase" data-dismiss="modal" aria-label="Close">Schliessen <span aria-hidden="true" class=""> &times;</span></button>
          </div>
          <div class="modal-body">
            <div class="mobile-logo text-center">
              <a href="index.html"><img src="../assets/images/logo.svg" alt=""></a>
            </div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Startseite Schmuck <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li><p class="text-">Kategorien</p></li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ring <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Armschmuck <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../wagner-jewellery-overview.html">Ketten & Colliers <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ohrschmuck <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Accessoires <img src="../assets/images/arrow-icon2.svg" alt="arrow-icon2"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- JS Global Compulsory (Do not remove)-->
<script src="../assets/js/jquery.min.js"></script>

</body>
</html>