<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Newsletter Section</title>
</head>
<body>
    <div class="non-binding-inquiry position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="common-form shadow text-center position-relative">
                        <h3 class="display-text3 text-uppercase position-relative text-center secondary-text-color">Unverbindliche anfrage</h3>
                        <form method="#">
                            <div class="new-subscribe-form-fields">
                                <div class="row">
                                    <div class="col-lg-7 col-md-6">
                                        <div class="position-relative form-group">
                                        <label for="amrede" class="form-up-text">Anrede* </label>
                                        <select name="amrede" id="amrede">
                                            <option>Herr</option>
                                        </select>
                                        </div>
                                        <div class="position-relative form-group">
                                        <label for="vorname" class="form-up-text">Vorname*</label>
                                        <input type="text" value="Max" placeholder="" id="vorname" name="vorname">
                                        </div>
                                        <div class="position-relative form-group">
                                        <label for="nachname" class="form-up-text">Nachname*</label>
                                        <input type="text" value="Mustermann" placeholder="" id="nachname" name="nachname">
                                        </div>
                                        <div class="position-relative form-group">
                                        <label for="telephone" class="form-up-text">Telefon (optional)</label>
                                        <input type="number" value="+43 676 123 4567" placeholder="" id="telephone" name="telephone">
                                        </div>
                                        <div class="position-relative form-group">
                                        <label for="emailaddress" class="form-up-text">E-Mail Adresse*</label>
                                        <input type="email" value="max.mustermann@mail.at" placeholder="" id="emailaddress" name="emailaddress">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="non-binding-product-detail">
                                            <div class="default-product-box">
                                                <img src="../assets/images/product-img1.png" alt="product-img1.png">
                                            </div>
                                            <h3>Wagner</h3>
                                            <span class="secondary-text-color product-description">Balou Special</span>
                                            <ul class="product-description secondary-text-color">
                                                <li>
                                                  <object type="image/svg+xml" data="../assets/images/jewellery-icon.svg" class="icon jewellery-icon">
                                                  </object>
                                                  Ringgröße 52
                                                </li>
                                                <li>
                                                  <object type="image/svg+xml" data="../assets/images/diamond-icon.svg" class="icon diamond-icon">
                                                  </object>
                                                  0,14 ct Diamant
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Ihre" class="d-none">.</label>
                                    <textarea placeholder="Ihre Anfrage" id="Ihre" name="Ihre"></textarea>
                                </div>
                                <div class="form-group newsletter-checkbox">
                                    <label class="text-left" for="checkbox2"><div  class="d-none">.</div>
                                        <input type="checkbox" name="checkbox2" id="checkbox2">
                                        <span class="checkmark"></span>
                                        Print-Newsletter abonnieren
                                    </label>
                                    <label class="text-left" for="checkbox3"><div  class="d-none">.</div>
                                        <input type="checkbox" name="checkbox3" id="checkbox3">
                                        <span class="checkmark"></span>
                                        Ich aktzeptiere die <a href="#" class="default-link-icon">allgemeinen Geschäftsbediungen</a>
                                    </label>
                                </div>
                                <div class="text-right mb-0">
                                    <button>Nachricht senden</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>