<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Article Overview</title>
</head>
<body>
  <div class="product-zoom position-relative">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-zoom-heading text-center">
                <span class="strong-text text-uppercase">Bulgari</span>
                <h2 class="display-text2 position-relative">B.zero1</h2>
                </div>
                <div class="zoom-back position-absolute">
                    <a href="#" class="primary-ghosted-btn">Zurück</a>
                </div>
                <div class="product-zoom-slider text-center">
                    <div class="product-zoom-img">
                        <a href="#"><img src="../assets/images/product-description-big-img.png" alt="product-description-big-img"></a>
                    </div>
                    <div class="product-zoom-img">
                        <a href="#"><img src="../assets/images/product-description-big-img.png" alt="product-description-big-img"></a>
                    </div>
                    <div class="product-zoom-img">
                        <a href="#"><img src="../assets/images/product-description-big-img.png" alt="product-description-big-img"></a>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div><br><br><br>
  <div class="product-zoom position-relative">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="product-zoom-heading text-center">
              <span class="strong-text text-uppercase">Wagner Jewellery</span>
              <h2 class="display-text2 position-relative">Solitaire Nr 6</h2>
              </div>
              <div class="zoom-back position-absolute">
                  <a href="javascript:window.history.back()" class="primary-ghosted-btn">SCHLIESSEN</a>
              </div>
              <div class="product-zoom-slider text-center">
                  <div class="product-zoom-img ">
                      <a href="#" class="default-product-box"><img src="../assets/images/product-description-big-img2.png" alt="product-description-big-img"></a>
                  </div>
                  <div class="product-zoom-img ">
                    <a href="#" class="default-product-box"><img src="../assets/images/product-description-big-img2.png" alt="product-description-big-img"></a>
                  </div>
                  <div class="product-zoom-img">
                    <a href="#" class="default-product-box"><img src="../assets/images/product-description-big-img2.png" alt="product-description-big-img"></a>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div><br><br><br>
<div class="product-zoom position-relative">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="product-zoom-heading text-center">
              <span class="strong-text text-uppercase">Jaeger lecoultre</span>
              <h2 class="display-text2 position-relative">Reverso</h2>
              </div>
              <div class="zoom-back position-absolute">
                  <a href="#" class="primary-ghosted-btn">Zurück</a>
              </div>
              <div class="product-zoom-slider text-center">
                  <div class="product-zoom-img ">
                      <a href="#"><img src="../assets/images/schumck-product-detail-big.png" alt="product-description-big-img"></a>
                  </div>
                  <div class="product-zoom-img ">
                    <a href="#"><img src="../assets/images/schumck-product-detail-big.png" alt="product-description-big-img"></a>
                  </div>
                  <div class="product-zoom-img">
                    <a href="#"><img src="../assets/images/schumck-product-detail-big.png" alt="product-description-big-img"></a>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div><br><br><br>

<!-- JS Global Compulsory (Do not remove)-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/slick.min.js"></script>
</body>
</html>