<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Product Default Sliders</title>
</head>
<body>
    <!-- default-product-slider -->
  <div class="section secondary-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading">
            <h2>Aktuelle Highlights</h2>
          </div>
          <div class="product-slider">
          <div class="product-detail">
            <div class="product-img default-product-box">
              <a href=""><img src="../assets/images/product-img1.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img default-product-box">
              <a href=""><img src="../assets/images/product-img4.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img default-product-box">
              <a href=""><img src="../assets/images/product-img3.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img default-product-box">
              <a href=""><img src="../assets/images/product-img2.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img default-product-box">
              <a href=""><img src="../assets/images/product-img4.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
        </div>
      </div>
      </div>
      <div class="view-all-products-btn">
        <a href="" class="primary-ghosted-btn">alle neuigkeiten</a>
      </div>
    </div>
  </div>
  <!-- white-product-slider -->
  <div class="section secondary-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="product-slider">
          <div class="product-detail">
            <div class="product-img white-product-box">
              <a href=""><img src="../assets/images/product-img1.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img white-product-box">
              <a href=""><img src="../assets/images/product-img4.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img white-product-box">
              <a href=""><img src="../assets/images/product-img3.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img white-product-box">
              <a href=""><img src="../assets/images/product-img2.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img white-product-box">
              <a href=""><img src="../assets/images/product-img4.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
        </div>
        </div>
      </div>
      <div class="view-all-products-btn">
        <a href="" class="primary-ghosted-btn">alle neuigkeiten</a>
      </div>
    </div>
  </div>
  <!-- transparent-product-slider -->
  <div class="section secondary-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="product-slider">
          <div class="product-detail">
            <div class="product-img">
              <a href=""><img src="../assets/images/product-img1.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img">
              <a href=""><img src="../assets/images/product-img4.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img">
              <a href=""><img src="../assets/images/product-img3.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img">
              <a href=""><img src="../assets/images/product-img2.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
          <div class="product-detail">
            <div class="product-img">
              <a href=""><img src="../assets/images/product-img4.png" alt="product1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="">Solitaire No 4</a></h3>
          </div>
        </div>
        </div>
      </div>
      <div class="view-all-products-btn">
        <a href="" class="primary-ghosted-btn">alle neuigkeiten</a>
      </div>
    </div>
  </div>
    <!-- default-product -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="product-detail">
              <div class="product-img default-product-box">
                <a href=""><img src="../assets/images/product-img1.png" alt="product1"></a>
                <div class="favorite-icon">
                  <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                  </object></a>
                </div>
              </div>
              <h3><a href="">Solitaire No 4</a></h3>
              <small class="product-description">Ring - 18 Kt Roségold, 0,83 ct <br>
                ab <span>€</span> 1.234</small>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="product-detail">
              <div class="product-img default-product-box">
                <a href=""><img src="../assets/images/product-img4.png" alt="product1"></a>
                <div class="favorite-icon">
                  <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                  </object></a>
                </div>
              </div>
              <h3><a href="">Solitaire No 4</a></h3>
              <small class="product-description">Ring - 18 Kt Roségold, 0,83 ct <br>
                ab <span>€</span> 1.234</small>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="product-detail">
              <div class="product-img default-product-box">
                <a href=""><img src="../assets/images/product-img3.png" alt="product1"></a>
                <div class="favorite-icon">
                  <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                  </object></a>
                </div>
              </div>
              <h3><a href="">Solitaire No 4</a></h3>
              <small class="product-description">Ring - 18 Kt Roségold, 0,83 ct <br>
                ab <span>€</span> 1.234</small>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="product-detail">
              <div class="product-img default-product-box">
                <a href=""><img src="../assets/images/product-img2.png" alt="product1"></a>
                <div class="favorite-icon">
                  <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                  </object></a>
                </div>
              </div>
              <h3><a href="">Solitaire No 4</a></h3>
              <small class="product-description">Ring - 18 Kt Roségold, 0,83 ct <br>
                ab <span>€</span> 1.234</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- default-product -->
    <div class="section">
      <div class="mini-product-slider-detail text-center">
        <div class="mini-product-slider">
          <div class="mini-product-slider-banner bg-image-style overlay position-relative"  style="background-image: url(../assets/images/mini-slider-banner.jpg);">
            <div class="mini-banner-content">
            <span>wagner jewellery</span>
            <p>Eine junge und farbenprächtige Juwelen-Collection, die in der Vielfalt ihrer Ausführung kaum Grenzen kennt.</p>
            <a href="" class="primary-ghosted-btn color-white">Entdecken</a>
          </div>
          </div>
          <div class="mini-product-slider-banner bg-image-style overlay position-relative"  style="background-image: url(../assets/images/mini-slider-banner.jpg);">
            <div class="mini-banner-content">
            <span>wagner jewellery</span>
            <p>Eine junge und farbenprächtige Juwelen-Collection, die in der Vielfalt ihrer Ausführung kaum Grenzen kennt.</p>
            <a href="" class="primary-ghosted-btn color-white">Entdecken</a>
          </div>
          </div>
          <div class="mini-product-slider-banner bg-image-style overlay position-relative"  style="background-image: url(../assets/images/mini-slider-banner.jpg);">
            <div class="mini-banner-content">
            <span>wagner jewellery</span>
            <p>Eine junge und farbenprächtige Juwelen-Collection, die in der Vielfalt ihrer Ausführung kaum Grenzen kennt.</p>
            <a href="" class="primary-ghosted-btn color-white">Entdecken</a>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- default-uhren-product-list -->
  <div class="section uhren-products-list">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="product-detail">
            <div class="product-img">
              <a href=""><img src="../assets/images/filter-watches1.png" alt="filter-watches1"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="/templates/produktdetail/product-detailV2.html">IWC Schaffhausen</a></h3>
            <small class="product-description">Big Pilot’s Heritage Watch 48<br>
            <span>€</span> 14.234</small>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="product-detail">
            <div class="product-img">
              <a href=""><img src="../assets/images/filter-watches2.png" alt="filter-watches2"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="/templates/produktdetail/product-detailV2.html">IWC Schaffhausen</a></h3>
            <small class="product-description">Big Pilot’s Heritage Watch 48<br>
            <span>€</span> 14.234</small>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="product-detail">
            <div class="product-img">
              <a href=""><img src="../assets/images/filter-watches3.png" alt="filter-watches3"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="/templates/produktdetail/product-detailV2.html">IWC Schaffhausen</a></h3>
            <small class="product-description">Big Pilot’s Heritage Watch 48<br>
            <span>€</span> 14.234</small>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="product-detail">
            <div class="product-img">
              <a href=""><img src="../assets/images/filter-watches4.png" alt="filter-watches4"></a>
              <div class="favorite-icon">
                <a href=""> <object type="image/svg+xml" data="../assets/images/heart-icon.svg" class="icon icon-heart">
                </object></a>
              </div>
            </div>
            <h3><a href="/templates/produktdetail/product-detailV2.html">IWC Schaffhausen</a></h3>
            <small class="product-description">Big Pilot’s Heritage Watch 48<br>
            <span>€</span> 14.234</small>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- JS Global Compulsory (Do not remove)-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/slick.min.js"></script>
</body>
</html>