<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Product Description Section</title>
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="product-description-detail">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="product-description-image">
                        <ul class="nav float-left">
                            <li class="nav-item">
                              <a class="active" data-toggle="tab" href="#product-img1"><img src="../assets/images/product-description-img1.png" alt="product-description-img1"></a>
                            </li>
                            <li class="nav-item">
                              <a class="" data-toggle="tab" href="#product-img2"><img src="../assets/images/product-description-img2.png" alt="product-description-img2"></a>
                            </li>
                            <li class="nav-item">
                              <a class="" data-toggle="tab" href="#product-img3"><img src="../assets/images/product-description-img3.png" alt="product-description-img3"></a>
                            </li>
                          </ul>
                          
                          <!-- Tab panes -->
                          <div class="tab-content float-right">
                            <div class="tab-pane container active" id="product-img1">
                                <img src="../assets/images/product-description-big-img.png" alt="product-description-big-img">
                            </div>
                            <div class="tab-pane container fade" id="product-img2">
                                <img src="../assets/images/product-description-big-img.png" alt="product-description-big-img">
                            </div>
                            <div class="tab-pane container fade" id="product-img3">
                                <img src="../assets/images/product-description-big-img.png" alt="product-description-big-img">
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                  <span class="strong-text secondary-text-color text-uppercase">Bulgari</span> 
                  <h2 class="display-text2">B.zero1</h2> 
                  <p class="secondary-text-color">Die italienische Luxus-Marke Bulgari zählt zu den führenden Herstellern von exklusiven Juwelen. Die funkelnden Schmuckstücke werden, je nach Modell oft auch mit Diamanten oder Farb- …</p>
                  <a href="" class="text-link">mehr anzeigen <object type="image/svg+xml" data="../assets/images/language-arrow-icon.svg" class="icon icon-dropdown-arrow">
                  </object></a>
                  <div class="product-detail-list">
                    <ul>
                        <li>
                            <span class="small-text-bold">Details</span>
                            <p class="product-description secondary-text-color">Ring - 18 Kt Gelbgold</p>
                        </li>
                        <li>
                            <span class="small-text-bold">Ringgröße</span>
                            <div class="product-sizes">
                                <button class="small-text secondary-text-color">48</button>
                                <button class="small-text secondary-text-color">49</button>
                                <button class="small-text secondary-text-color">50</button>
                                <button class="small-text secondary-text-color">51</button>
                                <button class="small-text secondary-text-color">52</button>
                                <a href="" class="small-link-icon">mehr anzeigen <object type="image/svg+xml" data="../assets/images/language-arrow-icon.svg" class="icon icon-dropdown-arrow">
                                </object></a>
                            </div>
                        </li>
                    </ul>
                  </div>
                  <div class="product-amount-wishlist">
                    <div class="product-amount float-left">
                    <span class="lead-text secondary-text-color"><small>ab €</small> 2.250,–</span>
                    </div>
                    <div class="product-wishlist float-right">
                        <a href="" class="extra-small-link-icon text-uppercase"><object type="image/svg+xml" data="../assets/images/heart-icon2.svg" class="icon icon-arrow">
                        </object>zur wunschliste </a>
                    </div>
                  </div>
                  <div class="add-cart-btn">
                    <a href="" class="primary-btn">In den Warenkorb Legen</a>
                </div>
                <div class="more-product-info">
                    <div id="accordion">
                        <div class="card1">
                          <div class="card-header1">
                            <a class=" collapsed default-link-icon secondary-text-color" data-toggle="collapse" href="#collapseOne">
                            Versand
                            <object type="image/svg+xml" data="../assets/images/language-arrow-icon.svg" class="icon icon-arrow">
                            </object>
                            </a>
                          </div>
                          <div id="collapseOne" class="collapse" data-parent="#accordion">
                            <div class="card-body1">
                                <p>Lorem ipsum..</p>
                            </div>
                          </div>
                        </div>
                        <div class="card1">
                          <div class="card-header1">
                            <a class="collapsed default-link-icon secondary-text-color" data-toggle="collapse" href="#collapseTwo">
                                Bezahlung
                                <object type="image/svg+xml" data="../assets/images/language-arrow-icon.svg" class="icon icon-arrow">
                                </object>
                            </a>
                          </div>
                          <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body1">
                             <p> Lorem ipsum..</p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="product-support-list">
                    <ul>
                        <li><a href="" class="small-text secondary-text-color"><object type="image/svg+xml" data="../assets/images/icon-contact2.svg" class="icon icon-contact">
                        </object> Kontakt</a></li>
                        <li><a href="" class="small-text secondary-text-color"> <object type="image/svg+xml" data="../assets/images/icon-ring.svg" class="icon icon-ring">
                        </object> Ringweite messen</a></li>
                        <li><a href="" class="small-text secondary-text-color"> <object type="image/svg+xml" data="../assets/images/icon-ring.svg" class="icon icon-faq">
                        </object> FAQ</a></li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

<!-- JS Global Compulsory (Do not remove)-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>