<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Search Module</title>
</head>
<body>
   <div class="search-module">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="search-module-m">
                    <div class="search-logo text-center">
                        <img src="../assets/images/logo.svg" alt="Logo">
                    </div>
                    <form method="post">
                        <div class="form-group position-relative">
                            <label class="d-none" for="search">.</label>
                            <input type="text" value="" placeholder="Suchen ..." name="search" id="search">
                            <button><img src="../assets/images/header-search-icon.svg" alt="header-search-icon"></button>
                        </div>
                    </form>
                    <div class="search-collection">
                        <h3 class="display-text3 position-relative">Entdecken</h3>
                        <ul class="lead-text">
                            <li><a href=""><img src="../assets/images/search-collection-icon1.svg" alt="search-collection-icon1"> Ringe</a></li>
                            <li><a href=""><img src="../assets/images/search-collection-icon4.svg" alt="search-collection-icon1"> Armschmuck</a></li>
                            <li><a href=""><img src="../assets/images/search-collection-icon3.svg" alt="search-collection-icon1"> Ketten & Colliers</a></li>
                            <li><a href=""><img src="../assets/images/search-collection-icon2.svg" alt="search-collection-icon1"> Ohrschmuck</a></li>
                            <li><a href=""><img src="../assets/images/icon-collection-watches.svg" alt="search-collection-icon1"> Uhren</a></li>
                        </ul>
                    </div>
                    <div class="search-contact">
                        <h3 class="display-text3 position-relative">Können wir Sie unterstützen?</h3>
                        <p class="text-link secondary-text-color">Mo – Fr | 10.00 – 18.30 Uhr 
                            <span>Sa | 10.00 – 18.00 Uhr</span></p>
                        <p class="text-link secondary-text-color text-right"> <object type="image/svg+xml" data="../assets/images/contact-icon.svg" class="icon-contact icon">
                        </object> +43 1 512 0 512 <a href=""> <object type="image/svg+xml" data="../assets/images/envelope-icon.svg" class="icon-contact icon">
                        </object> info@juwelier-wagner.at</a> </p>
                    </div>
                </div> 
                </div>
            </div>
        </div>
   </div>

<!-- JS Global Compulsory (Do not remove)-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>