<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Juwelier Wagner</title>
</head>
<body>
  <div class="shop-login">
    <div class="shop-login-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <div class="shop-logo text-center">
                    <a href="index.html"><img src="../assets/images/logo.svg" alt="header-logo"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="shop-header-contact text-right">
                  <ul>
                    <li><a href="" class="default-text"> <object type="image/svg+xml" data="../assets/images/envelope-icon.svg" class="icon icon-contact">
                    </object>  info@juwelier-wagner.at</a></li>
                    <li><a href="" class="default-text"> <object type="image/svg+xml" data="../assets/images/contact-icon.svg" class="icon icon-contact">
                    </object>  +43 1 512 0 512</a></li>
                </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="shop-login-section">
        <div class="container overflow-hidden">
            <div class="shop-login-left float-left">
                <h3>Registrierte Kunden</h3>
                <form method="post">
                    <div class="form-group">
                        <label for="email" class="d-none">.</label>
                        <input type="email" value="" placeholder="E-Mail" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="d-none">.</label>
                        <input type="password" value="" placeholder="Kennwort" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <button class="secondary-ghosted-btn">Anmeldung</button>
                    </div>
                    <div class="text-right">
                        <a href="" class="small-link-icon">Kennwort vergessen? <span class="fa fa-angle-right"></span></a>
                    </div>
                </form>
            </div>
            <div class="shop-login-right float-right">
                <h4>Gäste und Neukunden</h4>
                <p>Sie haben oder möchten noch kein Juwelier Wagner Konto? Dann fahren Sie ohne Registrierung fort.</p>
                <a href="" class="primary-btn d-block form-group">Zur KassA</a>
                <div class="text-right">
                    <a href="" class="small-link-icon">Als Kunde registrieren <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>
    </div>
  </div>
  <footer class="footer login-footer">
    <div class="footer-offer white-border">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="lead-text">
              <li>
                <object type="image/svg+xml" data="../assets/images/offer-icon1.svg" class="offer-icons">
                </object>
                <span>kostenlose Lieferung</span>
              </li>
              <li>
                <object type="image/svg+xml" data="../assets/images/offer-icon2.svg" class="offer-icons">
                </object>
                <span>sichere Bezahlung</span>
              </li>
              <li>
                <object type="image/svg+xml" data="../assets/images/offer-icon3.svg" class="offer-icons">
                </object>
                <span>luxuriöse<br>
                Geschenksverpackung</span>
              </li>
              <li>
                <object type="image/svg+xml" data="assets/images/offer-icon5.svg" class="offer-icons">
                </object>
                <span>Kostenlose Retoure</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-newsletter white-border">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <a class="footer-text-link  text-left d-block">Lieferung und Rücksendungen<br>
                Datenschutz
              </a>
            </div>
            <div class="col-lg-4 col-md-4">
              <h5>Zahlungsmöglichkeiten</h5>
              <div class="payment-icons">
                <ul>
                  <li><a href="#"><img src="../assets/images/payment-icon1.png" alt="payment-icon1" ></a></li>
                  <li><a href="#"><img src="../assets/images/payment-icon2.png" alt="payment-icon2" ></a></li>
                  <li><a href="#"><img src="../assets/images/payment-icon3.png" alt="payment-icon3" ></a></li>
                  <li><a href="#"><img src="../assets/images/payment-icon4.png" alt="payment-icon4" ></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </footer>

<!-- JS Global Compulsory (Do not remove)-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>