<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css?var=9.9">
    <title>Checkout</title>
</head>
<body>

    <div class="shop-login-header position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="cart-breadcrumb position-absolute pt-0">
                        <a href="javascript:window.history.back()" class="default-link-icon"><object type="image/svg+xml" data="../../assets/images/language-arrow-icon.svg" class="icon icon-contact">
                        </object> Zurück zum Webshop</a>
                    </div>
                    <div class="shop-logo text-center">
                        <a href="/startpage.html"><img src="../../assets/images/logo.svg" alt="header-logo"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="shop-header-contact text-right">
                        <ul>
                            <li><a href="mailto:info@juwelier-wagner.at" class="default-text"> <object type="image/svg+xml" data="../../assets/images/envelope-icon.svg" class="icon icon-contact">
                            </object>  info@juwelier-wagner.at</a></li>
                            <li><a href="tel:+43 1 512 0 512" class="default-text"> <object type="image/svg+xml" data="../../assets/images/contact-icon.svg" class="icon icon-contact">
                            </object>  +43 1 512 0 512</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
    </div>

    <div class="checkout-main">
        <div class="container">
            <form class="common-form" method="post" id="checkoutform">
            <div class="row">
                <div class="col-md-12 col-lg-8">                 
                    <div class="checkout-main-left tab" id="checkout-step1">
                    <h3 class="display-text3">Kundeninformation</h3>
                    <div class="checkout-main-details new-subscribe-form-fields">
                        <div class="form-label-group form-group">
                            <input type="email" value="" placeholder="E-Mail Adresse" id="User_Email" name="User_Email" class="form-control1">
                            <label for="User_Email">E-Mail Adresse</label>
                        </div>
                        <div class="form-group checkout-info">
                            <span><img src="../../assets/images/info-icon.svg" alt="info-icon">Wir benötigen diese ausschließlich zur Bestätigung Ihrer Bestellung.</span>
                        </div>
                        <div class="checkout-responsive-btn">
                            <a href="#checkout-step2" class="primary-btn next d-block">WEITER</a>
                        </div>
                    </div>
                    </div>
                    <div class="checkout-main-left tab" id="checkout-step2">
                        <h3 class="display-text3">Versandart</h3>
                        <div class="checkout-step2-info" id="versandart-form">
                            <div class="checkout-step2-info-m overflow-hidden position-relative">
                                <input type="radio" name="checkout-details-step">
                                <p class="float-left"> Versand 
                                 <span>kostenfrei für alle Bestellungen</span> </p>
                                 <div class="float-right">
                                     <img src="../../assets/images/checkout-step2-icon1.svg" alt="checkout-step2-icon1">
                                 </div>
                             </div>
                             <div class="checkout-step2-info-m overflow-hidden position-relative">
                                <input type="radio" name="checkout-details-step">
                                <p class="float-left"> Abholung 
                                 <span>Kärntner Straße 32, 1010 Wien </span>  </p>
                                 <div class="float-right">
                                     <img src="../../assets/images/checkout-step2-icon2.svg" alt="checkout-step2-icon2">
                                 </div>
                             </div>
                             <div class="checkout-step2-info-m overflow-hidden position-relative">
                                <input type="radio" name="checkout-details-step">
                                <p class="float-left"> Abholung 
                                <span> Graben 21 / Tuchlauben 2, 1010 Wien </span> </p>
                                 <div class="float-right">
                                     <img src="../../assets/images/checkout-step2-icon2.svg" alt="checkout-step2-icon2">
                                 </div>
                             </div>
                        </div>
                        <div class="checkout-responsive-btn">
                            <a href="#checkout-step3" class="primary-btn next d-block">WEITER</a>
                        </div>
                    </div>
                    <div class="checkout-main-left tab"  id="checkout-step3">
                        <h3 class="display-text3">Versandadresse</h3>
                        <div class="responsive-error-messages" >
                            <div class="error-heading" id="#error-note">
                                <h5> <img src="../../assets/images/error-icon.svg" alt="error-icon">Noch nicht alle Pflichtfelder ausgefüllt</h5>
                                <ul>
                                    <li>Vorname</li>
                                    <li>Nachnamen</li>
                                    <li>Straße und Hausnummer</li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkout-other-form-steps checkout-step3">
                            <div class="new-subscribe-form-fields ">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group select-group position-relative form-label-group">
                                                <select name="amrede" type="text" class="form-control select-control" id="selectCtrl">
                                                  <option value="">Anrede</option>
                                                    <option value="1">Herr</option>
                                                </select>
                                                <label class="control-label" for="selectCtrl">Anrede</label>
                                                <span class="arrow position-absolute"><object type="image/svg+xml" data="../../assets/images/chevron-icon.svg" class="icon icon-arrow">
                                                </object></span>
                                                </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="position-relative form-group form-label-group">
                                                <input type="text" placeholder="Titel (optional)" name="title-optional" id="title-optional">
                                                <label for="title-optional">Titel (optional)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="position-relative form-group form-label-group">
                                                <input type="text" value="Max" placeholder="Vorname" id="firstname" name="firstname">
                                                <label for="firstname">Vorname</label>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="position-relative form-group form-label-group">
                                                <input type="text" value="Mustermann" placeholder="Nachname" id="lastname" name="lastname">
                                                <label for="lastname">Nachname</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="position-relative form-group form-label-group">
                                                <input type="text" value="" placeholder="Firmenname (optional)" id="Firmenname" name="Firmenname">
                                                <label for="Firmenname">Firmenname (optional)</label>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="position-relative form-group form-label-group">
                                                <input type="text" value="+43 0678 123 456 78" placeholder="Telefon (optional)" id="telephone" name="telephone">
                                                <label for="telephone">Telefon (optional)</label>
                                                <div class="checkout-info m-0">
                                                <span><img src="../../assets/images/info-icon.svg" alt="info-icon"> Für Rückfragen zum Versand.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="position-relative form-group form-label-group">
                                                <input type="text" value="Musterstraße 23" placeholder="Straße und Hausnummer" id="Strasse" name="Strasse">
                                                <label for="Strasse">Straße und Hausnummer</label>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="position-relative form-group form-label-group">
                                                <input type="text" value="Büro im Mezzanin" placeholder="Zusatzinformation" id="Zusatzinformation" name="Zusatzinformation">
                                                <label for="Zusatzinformation">Zusatzinformation</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="position-relative form-group">
                                               <div class="row m-0">
                                                   <div class="col-lg-4 col-md-4 pl-0 ">
                                                    <div class="form-label-group">
                                                    <input type="number" value="1234" placeholder="Postleitzahl" id="postal" name="postal">
                                                    <label for="postal">Postleitzahl</label>
                                                    </div>
                                                   </div>
                                                   <div class="col-lg-8 col-md-8 pl-0">
                                                    <div class=" form-label-group">
                                                    <input type="text" value="Musterort" placeholder="Ort" id="ort" name="ort">
                                                    <label for="ort">Ort</label>
                                                    </div>
                                                   </div>
                                               </div>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="position-relative form-group form-label-group">
                                                <select name="title-optional" id="land" name="land">
                                                    <option>Österreich</option>
                                                </select>
                                                <label for="land">Land</label>
                                                <span class="arrow position-absolute"><object type="image/svg+xml" data="../../assets/images/chevron-icon.svg" class="icon icon-arrow">
                                                </object></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group gift-banner" style="background-image: url(../../assets/images/gift-banner.jpg);">
                                    <h5 class="display-text3">Bestellung als Geschenk versenden?</h5>
                                    <p>Hinterlassen Sie Ihren Lieben einen netten Gruß.</p>
                                    <a href="#" class="primary-ghosted-btn d-inline-block" data-toggle="collapse" data-target="#gift-notes">Ihr Geschenkgruß</a>
                                    <div class="form-group collapse" id="gift-notes">
                                        <label for="gift_notes" class="d-none">.</label>
                                        <textarea value="" placeholder="Ihr Geschenkgruß" name="gift_notes" id="gift_notes"></textarea>
                                        <div class="text-left radio-checked-info">
                                            <span>Noch 200 Zeichen übrig</span>
                                        </div>
                                        <div class="text-right">
                                            <button class="primary-ghosted-btn">Speichern</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group newsletter-checkbox">
                                    <label class="text-left " for="checkbox2"><div  class="d-none">.</div>
                                        <input type="checkbox" name="checkbox2" id="checkbox2">
                                        <span class="checkmark"></span>
                                        Ich habe eine abweichende Rechnungsadresse
                                    </label>
                                    <label class="text-left" for="checkbox3"><div  class="d-none">.</div>
                                        <input type="checkbox" name="checkbox3" id="checkbox3">
                                        <span class="checkmark"></span>
                                        Ich habe Anmerkungen zu dieser Bestellung
                                    </label>
                                    <div class="form-group" id="add-notes">
                                        <label for="add_notes" class="d-none">.</label>
                                        <textarea value="" placeholder="Ihre Fragen, Wünsche Anregungen" name="add_notes" id="add_notes"></textarea>
                                    </div>
                                </div>
                                <div class="checkout-responsive-btn">
                                    <a href="#checkout-step4" class="primary-btn next d-block">WEITER</a>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="checkout-main-left tab checkout-responsive-gift-banner"  id="checkout-step4">
                    <h3 class="display-text3">Grußkarte</h3>
                    <div class="form-group gift-banner" style="background-image: url(../../assets/images/gift-banner.jpg);">
                        <div class="position-relative">
                        <img src="../../assets/images/gift-banner.jpg" alt="gift-banner" class="responsive-gift-img">
                        <h5 class="display-text3">Bestellung als <br> Geschenk versenden?</h5>
                        </div>
                        <p>Hinterlassen Sie Ihren Lieben einen netten Gruß.</p>
                        <label class="text-left" for="gift-message"  data-toggle="collapse" data-target="#gift-notes"><div  class="d-none">.</div>
                            <input type="checkbox" name="gift-message" id="gift-message">
                            <span class="checkmark"></span>
                            Grußkarte hinzufügen
                        </label>
                        <div class="form-group collapse" id="gift-notes">
                            <label for="gift_notes" class="d-none">.</label>
                            <textarea value="" placeholder="Ihr Geschenkgruß" name="gift_notes" id="gift_notes"></textarea>
                        </div>
                    </div>
                    <h3 class="display-text3">Anmerkungen</h3>
                    <label class="text-left" for="checkbox33"><div  class="d-none">.</div>
                        <input type="checkbox" name="checkbox33" id="checkbox33">
                        <span class="checkmark"></span>
                        Anmerkungen zur Bestellung
                    </label>
                    <div class="checkout-responsive-btn">
                        <a href="#checkout-step5" class="primary-btn next d-block">WEITER</a>
                    </div>
                    </div>
                    <div class="checkout-main-left tab"  id="checkout-step5">
                        <h3 class="display-text3">Zahlungsart</h3>
                        <div class="checkout-other-form-steps checkout-step4">
                            <div class="new-subscribe-form-fields ">
                                <div class="credit-card-details-new border-line" >
                                    <fieldset>
                                        <legend class="d-none">.</legend>
                                    <div class="control-group">
                                        <label class="control control-radio form-group " for="radio1">
                                            Kreditkarte
                                                <input type="radio" name="radio" checked="checked" id="radio1"/>
                                            <div class="control_indicator"></div>
                                            <div class="credit-card-img">
                                            <img src="../../assets/images/payment-icon1.png" alt="payment-icon1">
                                            <img src="../../assets/images/payment-icon2.png" alt="payment-icon2">
                                            <img src="../../assets/images/payment-icon4.png" alt="payment-icon4">
                                            </div>
                                        </label>
                                        <div class="credit-card-details-section">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class="position-relative form-group form-label-group">
                                                            <input type="text" value="Max Mustermann" placeholder="Karteninhaber" id="cardholder_name" name="cardholder_name">
                                                            <label for="cardholder_name">Karteninhaber</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class="position-relative form-group form-label-group">
                                                            <input type="text" value="123 234 4334 334" placeholder="Kartennummer" id="cardnumber" name="cardnumber">
                                                            <label for="cardnumber">Kartennummer</label>
                                                            <img src="../../assets/images/payment-icon1.png" alt="payment-icon1" class="position-absolute">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class="position-relative form-group">
                                                           <div class="row m-0">
                                                               <div class="col-lg-5 col-md-5 pl-0 form-label-group">
                                                                <input type="text" value="11/14" placeholder="Postleitzahl" id="card_expire" name="card_expire">
                                                                <label for="card_expire">Ablaufdatum</label>
                                                               </div>
                                                               <div class="col-lg-7 col-md-7 pl-0 form-label-group">
                                                                <input type="text" value="123" placeholder="Sicherheitscode" id="cvv" name="cvv">
                                                                <label for="cvv">Sicherheitscode</label>
                                                               </div>
                                                           </div>
                                                         </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <label class="control control-radio form-group" for="radio2">
                                            Sofortüberweisung
                                                <input type="radio" name="radio" id="radio2" />
                                            <div class="control_indicator"></div>
                                            <div class="credit-card-img">
                                            <img src="../../assets/images/payment-icon3.png" alt="payment-icon1">
                                            </div>
                                        </label>
                                    </div>
                                    </fieldset>
                                </div>   
                                <div class="form-group newsletter-checkbox border-line">
                                    <label class="text-left" for="checkbox7"><div  class="d-none">.</div>
                                        <input type="checkbox" name="checkbox7" checked = "checked" id="checkbox7">
                                        <span class="checkmark"></span>
                                        Ich stimme den Nutzungs- und Verkaufsbedingungen von Juwelier Wagner zu und nehme hiermit zur Kenntniss, dass bereitgestellte Informationen durch diese Website auf Servern gespeichert werden. 
                                    </label>
                                    <label class="text-left" for="checkbox4"><div  class="d-none">.</div>
                                        <input type="checkbox" name="checkbox4" checked = "checked" id="checkbox4">
                                        <span class="checkmark"></span>
                                        Ich möchte den Wagner Print Newsletter abonnieren
                                    </label>
                                    <label class="text-left" for="checkbox5"><div  class="d-none">.</div>
                                        <input type="checkbox" name="checkbox5" checked = "checked" id="checkbox5">
                                        <span class="checkmark"></span>
                                        Ich möchte den Wagner Newsletter abonnieren
                                    </label>
                                </div>
                                <div class="form-group text-right">
                                    <a href="/templates/wishlist-checkout/wagner_checkout_V3.html"> 
                                    <button type="button" class="primary-btn">Jetzt bestellen</button>  
                                </a>  
                                  </div>
                                  <div class="checkout-responsive-btn">
                                    <a href="#checkout-step5" class="primary-btn d-block">WEITER</a>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="checkout-right-product-section">
                        <h3 class="display-text3">Zusammenfassung</h3>
                        <div class="checkout-right-table">
                        <table>
                            <tr>
                                <td>
                                    <div class="default-product-box cart-product-box">
                                        <img src="../../assets/images/product-img1.png" alt="product-img1.png">
                                    </div>
                                </td>
                                <td>
                                    <div class="non-binding-product-detail">
                                        <h3>Wagner</h3>
                                        <span class="secondary-text-color product-description">Balou Special</span>
                                        <ul class="product-description secondary-text-color">
                                            <li>
                                                <img src="../../assets/images/jewellery-icon.svg" class="icon jewellery-icon">
                                                Ring, Ringweite 52
                                            </li>
                                            <li>
                                                <img src="../../assets/images/material-icon.svg" class="icon jewellery-icon">18 Kt Roségold, 
                                            </li>
                                            <li>
                                                <img src="../../assets/images/diamond-icon.svg" class="icon jewellery-icon">
                                                0,14 ct Diamant
                                            </li>
                                            <li>Referenznummer: XX000.X.XX</li>
                                        </ul>
                                        <span class="product-description mb-0">€ 3.250,–</span>
                                        <a href="#" class="position-absolute extra-small-link-icon">bearbeiten <img src="../../assets/images/edit-icon.svg" alt="edit-icon"></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="cart-product-box">
                                        <img src="../../assets/images/cart-watch-img1.png" alt="product-img1.png">
                                    </div>
                                </td>
                                <td>
                                    <div class="non-binding-product-detail">
                                        <h3>Wagner</h3>
                                        <span class="secondary-text-color product-description">Balou Special</span>
                                        <ul class="product-description secondary-text-color">
                                            <li>
                                                <img src="../../assets/images/jewellery-icon.svg" class="icon jewellery-icon">
                                                Ring, Ringweite 52
                                            </li>
                                            <li>
                                                <img src="../../assets/images/jewellery-icon.svg" class="icon jewellery-icon">18 Kt Roségold, 
                                            </li>
                                            <li>
                                                <img src="../../assets/images/jewellery-icon.svg" class="icon jewellery-icon">
                                                0,14 ct Diamant, Rosenquarz
                                            </li>
                                            <li>Referenznummer: XX000.X.XX</li>
                                        </ul>
                                        <span class="product-description mb-0">€ 3.250,–</span>
                                        <a href="#" class="position-absolute extra-small-link-icon">bearbeiten <img src="../../assets/images/edit-icon.svg" alt="edit-icon"></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="cart-product-box">
                                        <img src="../../assets/images/cart-img2.png" alt="product-img1.png">
                                    </div>
                                </td>
                                <td>
                                    <div class="non-binding-product-detail">
                                        <h4>Geschenksverpackung</h4>
                                        <span class="product-description">kostenlos</span>
                                    </div>
                                </td>
                            </tr>
                            
                        </table>
                        </div>
                    </div>
                    <div class="checkout-right-section">
                        <table>
                            <tbody><tr>
                                <td>Zwischensumme</td>
                                <td><small class="lead-text">€</small> 3.250,–</td>
                            </tr>
                            <tr>
                                <td>Kostenloser Versand</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Mwst</td>
                                <td>€ 541,–</td>
                            </tr>
                            <tr>
                                <td>Gesamt inkl. Mwst</td>
                                <td><small class="lead-text">€</small> 12.600,– </td>
                            </tr>
                        </tbody></table>
                        
                    </div>
                    <div class="checkout-support">
                        <a href="#" class="small-text secondary-text-color"> <object type="image/svg+xml" data="../../assets/images/faq-icon.svg" class="icon icon-faq">
                        </object> Fragen zum Produkt oder Webshop?</a>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    <footer class="footer login-footer">
    <div class="footer-offer white-border">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="lead-text">
              <li>
                <object type="image/svg+xml" data="../../assets/images/offer-icon1.svg" class="offer-icons">
                </object>
                <span>kostenlose Lieferung</span>
              </li>
              <li>
                <object type="image/svg+xml" data="../../assets/images/offer-icon2.svg" class="offer-icons">
                </object>
                <span>sichere Bezahlung</span>
              </li>
              <li>
                <object type="image/svg+xml" data="../../assets/images/offer-icon3.svg" class="offer-icons">
                </object>
                <span>luxuriöse
                Geschenksverpackung</span>
              </li>
              <li>
                <object type="image/svg+xml" data="../../assets/images/offer-icon5.svg" class="offer-icons">
                </object>
                <span>Kostenlose Retoure</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-newsletter white-border">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <a class="footer-text-link  text-left d-block">Lieferung und Rücksendungen<br>
                Datenschutz
              </a>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="shop-login-newsletter">
                    <h5>Zahlungsmöglichkeiten</h5>
                    <div class="payment-icons">
                        <ul>
                        <li><a href="#"><img src="../../assets/images/payment-icon1.png" alt="payment-icon1" ></a></li>
                        <li><a href="#"><img src="../../assets/images/payment-icon2.png" alt="payment-icon2" ></a></li>
                        <li><a href="#"><img src="../../assets/images/payment-icon3.png" alt="payment-icon3" ></a></li>
                        <li><a href="#"><img src="../../assets/images/payment-icon4.png" alt="payment-icon4" ></a></li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <button onclick="topFunction()" id="ontopBtn" title="Go to top"><img src="../../assets/images/icon-top.svg" alt="Icon-top"></button>
<!-- JS Global Compulsory (Do not remove)-->
<script src="../../assets/js/jquery.min.js" ></script>
<script src="../../assets/js/slick.min.js"></script>
<script src="../../assets/js/common.js"></script>
</body>
</html>