<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css?var=6">
    <title>Product Zoom Slider</title>
</head>
<body>
<div class="product-zoom position-relative">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="product-zoom-heading text-center">
                <span class="strong-text text-uppercase">Bulgari</span>
                <h2 class="display-text2 position-relative">B.zero1</h2>
            </div>
            <div class="zoom-back position-absolute">
                <a href="javascript:window.history.back()" class="primary-ghosted-btn">SCHLIESSEN</a>
            </div>
        </div>
        </div>
    </div>
        <div class="product-zoom-slider-templates">
            <div class="container">
            <div class="row">
            <div class="col-lg-12">
            <div class="product-zoom-slider po text-center">
                <div class="product-zoom-img ">
                    <a href="#" ><img src="../../assets/images/product-zoom-slider-img3.png" alt="product-description-big-img"></a>
                </div>
                <div class="product-zoom-img ">
                <a href="#"><img src="../../assets/images/product-zoom-slider-img3.png" alt="product-description-big-img"></a>
                </div>
                <div class="product-zoom-img">
                <a href="#"><img src="../../assets/images/product-zoom-slider-img3.png" alt="product-description-big-img"></a>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- JS Global Compulsory (Do not remove)-->
<script src="../../assets/js/jquery.min.js" ></script>
<script src="../../assets/js/slick.min.js"></script>

</body>
</html>